.ext-inventory {
	display: flex;
	justify-content: center;

	& > .ml-dash-fullwidth-input.ml-container {
		width: 80%;
	}

	.heading {
		text-align: center;
	}

	.control-header {
		font-size: 18px;
		text-transform: uppercase;
		border-bottom: 1px solid lightblue;
		padding-left: 2%;
		font-weight: 100;
	}

	.ml-ScopeDefaults-wrapper > .ml-dash-content > .ml-Grid-wrapper {
		margin-bottom: 30px;
	}

	.ml-Grid-wrapper .ml-dash-child-container > .ml-StackPanel-wrapper {
		border-radius: 5px;
		border: 1px solid lightgrey;
		padding: 5px;
	}
}
