.main-test-extension {
	width: 80%;
	margin-left: 10%;
}

@keyframes rotateAround {
	from { 
		transform: rotateY(180deg);
	}
	to { 
		transform: rotateY(0deg); 
	}
}

#tooltip0.transparent{
	background: transparent !important;
}