﻿.mixed-controls {
	.ml-dash-child-container > [class^="ml-BP"] {
		min-height: 41px;
		padding: 5px;
	}

	.ml-FloatingPanel-wrapper .ml-dash-sidepanel > .ml-dash-sidepanel-inner {
		height: auto;
		overflow-y: auto;
	}
}
