doctype html
html(lang='en')
	head
		block refs
		link(rel='stylesheet', href='/dist/css/style.css')
		//script(src='//qa.maplarge.com/js', type='text/javascript')

		//script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		
		script(type='text/javascript', src='/dist/scripts/scripts.js')
