body
	header
		nav.navbar.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(asp-area='', asp-controller='Home', asp-action='Index', style='height:80px;')
					img(style='height:100%;', src='http://ml-local.maplarge.net/./images/maplargelogo3_0.png')
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						//li
						//	a(href='/') Home
						li
							a(href='/docs') Documentation
						li
							a(href='/templates') Templates