extends ../layouts/_head.pug
block content

	body

	script.
		ml.onload(function () {

			var extensions = [];

			var rootSpace = db.extensions;

			function getChildSpaces(root){
				var children = Object.keys(root);
				if(!children){
					return; 
				}
				extensions = extensions.concat(children);
				for(var s of children){
					getChildSpaces(s);
				}
				
			}

			getChildSpaces(rootSpace);

			console.log(extensions);

		});