doctype html
html(lang='en')
	head
		block refs
		link(rel='stylesheet', href='/dist/css/style.css')
		//script(src='//qa.maplarge.com/js', type='text/javascript')

		//script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		
		script(type='text/javascript', src='/dist/scripts/scripts.js')

	body

		script.
			ml.onload(function () {
				var itemlist = null;

				var params = ml.nvp();
				console.log(params);

				function stringToNamespace(className) {
					if (className === void 0) { className = ""; }
					if (className === "") {
						throw "Classname is required for util.stringToNamespace(className) call";
					}
					var parts = className.split('.');
					var x = window;
					for (var i = 0; i < parts.length; i++) {
						try {
							x = x[parts[i]];
						}
						catch (err) {
							throw "util.stringToNamespace() was unable to find the class that represents the component and returned: " + err;
						}
					}
					return x;
				}


				function loadDashboard() {

					var readonly = params.openInEdit != "true" && params.readonly !== "false";
					var ns = stringToNamespace('dashboard.extensions.' + params.extension);

					if (typeof ns != "undefined" && ns.create) {
						ns.create(document.getElementById('dashContainer'), readonly, postLoad);
					}
					else {
						var meta = {
							dashboardId: 'repo.' + params.extension,
							name: null,
							description: null,
							account: null,
							creator: 'System',
							timestamp: null
						};

						var publicInfo = ml.ui.dashboard.getPublicDashboards().filter(function (p) { return p.id === dashboard; })[0];

						if (publicInfo) {
							meta.name = publicInfo.name;
							meta.description = publicInfo.description;
						}
					
						var scope = ml.ui.dashboard.createRootScope(!readonly, meta);

						window.dashboard = ml.ui.dashboard.create(ns.getJSON(), 'body', scope);

						//ml.create(ns.getJSON(), null, 'body', meta);
					}

				}

				function postLoad(rootCtrl, scope) {
					//process initial hash commands
					setTimeout(function () {
						processHash(rootCtrl, scope);

						//listen for future changes
						//ml.$(window).on('hashchange', function () { processHash(rootCtrl, scope); });
					}, 100);
				}

				function loadDashboardList(){
					var exts = [];

					/*
					var rootSpace = dashboard.extensions;

					function getChildSpaces(root){
						var children = Object.keys(root);
						console.log(children);
						if(!children || children.length == 0 || children[0] == "0"){
							return; 
						}
						exts = exts.concat(children);
						for(var s in children){
							getChildSpaces(children[s]);
						}
					}

					getChildSpaces(rootSpace);

					*/

					var exts = ml.ui.dashboard.getPublicDashboards().filter(m => m.id.split('.')[0] == "dashboard").map(m => {
						return $.extend(true, m, {title: m.id.replace('dashboard.extensions.', "")});
					});


					var control = ml.ui.dashboard.controls.Panel.builder().options({
						showHeader: false,
						
					}).children([

						ml.ui.dashboard.controls.Html.builder().options({
							html: "<h1>Extensions</h1>"
						}),
				
						ml.ui.dashboard.controls.Repeater.builder().options({
							data: exts
						}).children([
							ml.ui.dashboard.controls.Html.builder().options({
								html: `<a href='?extension={{item.title}}'>
										<h2>{{item.title}}</h2>
										<p>{{item.name}}</p>
										<p>{{item.description}}</p>
									  </a>`
							})
						])

					]);

						ml.ui.dashboard.create(control.toJSON(), 'body', null);
				}

				if(params.extension) 
					if(typeof(ml) != "undefined" && ml.ui && ml.ui.dashboard && ml.ui.dashboard.create){
					loadDashboard();
					}else{
					let counter = 50;
					var inter = setInterval(function () {
						if(typeof(ml) != "undefined" && ml.ui && ml.ui.dashboard && ml.ui.dashboard.create){
							loadDashboard();
							clearInterval(inter);
						}
						if (count-- <= 0){
							clearInterval(inter);
							console.error("ml is not defined on page");
						}
					}, 100);
					}
				else {
					loadDashboardList();
				}
			});
