include  ./layouts/_head.pug
	include  ./layouts/_layout.pug

	.container.body-content
		main
		h1 Documentation
		h2 Getting Started
		hr
		h3 Loading the MapLarge API
		p
			| To load the MapLarge API, simply include the MapLarge javascript file. It is better to inlcude the file at the top of the page (in 
			| <head> 
			| ) since it is likely that may of your scripts will be written inline on the page, rather than loaded at the end of the document.
		p
			| In the script tag is a URL with the location of the file that contains the MapLarge JS API. This script tag is required.
		pre.language-markup
			code
				:markdown-it(linkify langPrefix='highlight-')
					```html
						<script type='text/javascript' src='http://qa.maplarge.com/js'></script>"
					```
		h3 Creating a Map
		p
			| Maps are the backbone of maplarge. They can be integrated into your site in a number of ways.
		p
			| Here, we will cover the most basic way to include a map on a page, and later we will cover more advanced uses of maps.
		text Create a div for your map.
		pre.language-markup
			code 
				:markdown-it(linkify langPrefix='highlight-')
					```js
						<div id="mapDiv" style="width:100%;height:450px"></div>'
					```
		p
			| Once the MapLarge API is loaded on your site, you can attach it to your map element.
			pre.language-js
				code 
					:markdown-it(linkify langPrefix='highlight-')
						```js
						ml.onload(function() {
							var options = {
								lat: 33.709,
								lng: -84.404,
								z: 9
							};
							var map = new ml.map("mapDiv", options);
							});
						```
		br
		br
		hr
		h1 Dashboard Controls
		h3 What is a dashboard control
		p
			| A dashboard control is a self contained, miniature app. They range in complexity, but they are way of interacting with MapLarge and it's data.
		p
			| Each control has an interface of options that are available to specify the control to meet the needs required of it. They can inlcude things like button style on a button control, lists of data for iterable
			| list controls, or data-sets for map layers.
		p
			| Dashboard controls provide a lot of the functionality needed to interact with Maplarge so that you don't need to worry about as much.
		h3 Creating a dashboard control
		p Let's create a really simple textbox dashboard control.
		p Creating a control has three parts.
		ol
			li Create an element for the control to live in
			li Building structure of the control
			li Building the control.

		pre.language-markup
			code 
				:markdown-it(linkify langPrefix='highlight-')
					```html
						<div id="dashboard_container" class="demo-window" style="width:100%;height:100px;"></div>
					```

		pre.language-js
			code
				:markdown-it(linkify langPrefix='highlight-')
					```js
						var textbox = ml.ui.dashboard.controls.Textbox.builder()
						.options({
						label: "Simple Textbox",
						placeholder: "Enter Text Here"
						}).toJSON();
						ml.ui.dashboard.create(textbox, '#dashboard_container')
					```
		p Let's look at some more examples of other dashboard controls.
		h4 Button
		.row
			.col-md-4
				#dashboard_container_2.demo-window(style="width:100%;height:100px;")

		script.
			var button = ml.ui.dashboard.controls.Button.builder().options({
			label: "Submit",
			title: "Click to Submit",
			onClick: (e) => alert("You clicked on the button."),
			buttonType: "Default",
			buttonImageClass: "mlicon-tableupload"
			}).toJSON();
			ml.ui.dashboard.create(button, '#dashboard_container_2')
		h4 Color Pallet
		pre.language-js
			code
				:markdown-it(linkify langPrefix='highlight-')
					```js
						var colorPallet = ml.ui.dashboard.controls.Pallet.builder()
						.options({
							"palletRows": [{
								"swatchColors": [
									"#000000",
									"#252525",
									"#525252",
									"#737373"
								]},
								{ "swatchColors": [
									"#ff0000",
									"#ff8000",
									"#ffff00",
									"#80ff00"
								]}
							],
							"initialColor": "#252525"
						}).toJSON();
						ml.ui.dashboard.create(colorPallet, '#dashboard_container_3')
					```
		#dashboard_container_3.demo-window(style='width:100%;height:auto;')
		script.
			var colorPallet = ml.ui.dashboard.controls.Pallet.builder()
			.options({
			"palletRows": [
			{
			"swatchColors": [
			"#000000",
			"#252525",
			"#525252",
			"#737373"
			]
			},
			{
			"swatchColors": [
			"#ff0000",
			"#ff8000",
			"#ffff00",
			"#80ff00"
			]
			}
			],
			"initialColor": "#252525"
			}).toJSON();
			ml.ui.dashboard.create(colorPallet, '#dashboard_container_3')
		br
		br
		hr
		h1 Advanced Dashboard Controls
		p It's time to introduce you to the fluent method of creating dashboards.
		p
			| Many controls can contain children. And that is how you can develope more complex dashboards.
		p
			| This section will introduce you to the some of those controls and the syntax for creating them.
		br
		h4 Panel
		pre.language-js
			code
				:markdown-it(linkify langPrefix='highlight-')
					```js
						var panel = ml.ui.dashboard.controls.Panel.builder().options({
							heading: "This is a panel control",
							showHeader: true
						}).children([
							ml.ui.dashboard.controls.Card.builder().options({
								heading: "This is a Card Control",
								footer: "The Footer for a card control"
							}).children([
								ml.ui.dashboard.controls.Html.builder().options({
									html: `<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>`
								})
							])
						]).toJSON();
						ml.ui.dashboard.create(panel, '#dashboard_container_4')
					```

		#dashboard_container_4.demo-window(style='width:100%;height:auto;')
		script.
			var panel = ml.ui.dashboard.controls.Panel.builder().options({
			heading: "This is a panel control",
			showHeader: true
			}).children([
			ml.ui.dashboard.controls.Card.builder().options({
			heading: "This is a Card Control",
			footer: "The Footer for a card control"
			}).children([
			ml.ui.dashboard.controls.Html.builder().options({
			html: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
			})
			])
			]).toJSON();
			ml.ui.dashboard.create(panel, '#dashboard_container_4')
		br
		p
			| As you can see, dashboard controls have a 
			i .children()
			|  function built in which allows you to pass in an array of other controls.
		p Let's see some more examples.
		br
		br
		h4 Repeater
		pre.language-js
			code
				:markdown-it(linkify langPrefix='highlight-')
					```js
					var panel = ml.ui.dashboard.controls.Repeater.builder().options({
						"data": [{
								"firstName": "Thomas",
								"lastName": "Jefferson"
							},
							{
								"firstName": "George",
								"lastName": "Washington"
							},
							{
								"firstName": "Andrew",
								"lastName": "Jackson"
							},
							{
								"firstName": "Alexander",
								"lastName": "Hamilton"
							}
						],
						"layout": "Vertical"
					}).children([
						ml.ui.dashboard.controls.Button.builder().options({
							label: "{{item.firstName}} - {{item.lastName}}",
							buttonType: "Dashed"
						})
					]).toJSON();
					ml.ui.dashboard.create(panel, '#dashboard_container_5');
					```

		.row
			.col-md-4
				#dashboard_container_5.demo-window(style='width:100%;height:auto;')
		script.
			var panel = ml.ui.dashboard.controls.Repeater.builder().options({
			"data": [
			{
			"firstName": "Thomas",
			"lastName": "Jefferson"
			},
			{
			"firstName": "George",
			"lastName": "Washington"
			},
			{
			"firstName": "Andrew",
			"lastName": "Jackson"
			},
			{
			"firstName": "Alexander",
			"lastName": "Hamilton"
			}
			],
			"layout": "Vertical"
			}).children([
			ml.ui.dashboard.controls.Button.builder().options({
			label: "{{item.firstName}} - {{item.lastName}}",
			buttonType: "Dashed"
			})
			]).toJSON();
			ml.ui.dashboard.create(panel, '#dashboard_container_5')
		br
		p
			| Here is your first introduction to the "ScopePath" (as seem in the above example "{{item.firstName}}"). We will discuss this in further detail later, but for now, you can see an exmaple of how data or values can be passed between controls.
		br
		h1 Adding a control to a map
		p
			| Before, we just used the simplest way to adding a map to a page. In order to include a map on the page that can include Dashboard Controls, the map must be added using the 
			i Map
			|  dashboard control.
		pre.language-js
			code
				:markdown-it(linkify langPrefix='highlight-')
					```js
					ml.onload(function() {
						var db = ml.ui.dashboard.controls.Map.builder()
							.name("Map")
							.options({
								"layers": {}
							})
							.children([
								ml.ui.dashboard.controls.FloatingPanel.builder()
								.options({
									heading: "Hello World",
								}).layoutOptions({
									position: "Right"
								})
								.children([
									ml.ui.dashboard.controls.Html.builder()
									.options({
										"html": "Welcome to this example dashboard."
									})
								])
							]).toJSON();
						ml.ui.dashboard.create(db, '#map_with_controls');
					});
					```
		#map_with_controls(style='width: 100%;height:450px')
		script.
			ml.onload(function () {
			var db = ml.ui.dashboard.controls.Map.builder()
			.name("Map")
			.options({
			"layers": {}
			})
			.children([
			ml.ui.dashboard.controls.FloatingPanel.builder()
			.options({
			heading: "Hello World",
			}).layoutOptions({ position: "Right" })
			.children([
			ml.ui.dashboard.controls.Html.builder()
			.options({
			"html": "Welcome to this example dashboard."
			})
			])
			]).toJSON();
			ml.ui.dashboard.create(db, '#map_with_controls');
			});
		h1 The Dashboard Lifecycle
		h4
			| constructor 
			small  Required?: Yes
		p
			| This is called once when the control is first added to a dashboard. Initialization that does not involve the DOM can be done here.
		h4
			| build 
			small  Required?: No
		p
			| This method is called after the DOM has been loaded. This can be immediately after the constructor, or after an init/cleanup cycle if DOM loading was deferred.  This is the place to create any static DOM and other objects (that doesn't change with the options).
		h4
			| validateDefinition 
			small  Required?: No
		p
			| This method is called when the control is created and whenever the controls options have changed. A boolean should be returned, indicating if the current options are valid.
		h4
			| init 
			small  Required?: No
		p
			| This method is called when it is determined that the control has valid options. This is the main setup method for the control, and the place to create any option-specific DOM, wire up events, listen to observables on the scope, etc.
		p
			| The isDOMLoaded flag should be checked before touching the DOM. If DOM loading has been deferred, then init should only perform scope and other internal initization.
		p
			| If the control inherits from ControlWithTransforms, it must call this.initTransforms from this method.
		h4
			| cleanup 
			small  Required?: No
		p
			| This method is called when the control's options have changed, and before the control is destroyed. This is the point to clean up anything created in the init method.
		h4
			| destroy 
			small  Required?: No
		p
			| This method is called when the control is removed from the dashboard. Any final cleanup occurs here.

	include ./layouts/_footer.pug