include  ../layouts/_head.pug
	include  ../layouts/_layout.pug
	.container.body-content
		main
			h2 Try it out
			ul
				li
					a(href="./examples/basiccontrol") Basic Control
				li
					a(href="./examples/controlwithmap") Controls with a Map
				li
					a(href="./examples/compositecontrol") Composite Controls
				li
					a(href="./examples/scopepath") Controls and Scope Path
				//li
				//	a(href="./examples/createanewcontrol") What a control looks like in TypeScript