include  ../layouts/_head.pug
	include  ../layouts/_layout.pug
	.container.body-content
		main.basic-control
			h2 Basic Control
			.row
				.col-md-6
					h3.code-header Code
				.col-md-6
					h3 Output
			.row(style="display:flex")
				.col-md-6.demo-window(style="flex:1; margin:5px;")
					.mlboxcontainer
						textarea#code.ml-boxedit(data-bind='value: html', style="visibility:hidden")
				.col-md-6.demo-window(style="flex:1; margin:5px;")
					.mlboxcontainer
						iframe#mlboxresultsiframe.ml-boxedit.ml-boxresults(frameborder='0')

		script(src="/pageScripts/basicControl.js")
		script(src="/scripts/mlCodeMirror.js")
