include  ../layouts/_head.pug
	include  ../layouts/_layout.pug
	.container.body-content
		main.basic-control
			h2 Creating a new control
			p Below is an example of what a generic control looks like. 
			p While this control hasn't been set up to do anything, it displays the functions that get used in a control
			.row
				.col-md-12.demo-window
					.mlboxcontainer
						textarea#code.ml-boxedit(data-bind='value: html', style="visibility:hidden")


		script(src="/pageScripts/createanewcontrol.js")
		script(src="/scripts/mlCodeMirror.js")
