include  ../layouts/_head.pug
	include  ../layouts/_layout.pug
	.container.body-content
		main.basic-control
			h2 Working with the scopePath
			p ScopePath can be a very useful tool to pass data from one control to another.
			p The two controls can share, or reference, the same scopePath.
			p This is demonstrated below.
			h5 Note: scopePath can be represented several ways
			ol
				li "{{scope_path_observable_name}}" as seen below. Two opening braces and two closing braces
				li {$scopePath: "scope_path_observable_name"} (instead of html: "{{scopePath}}", use the object {$scopePath: "path_name"} )
				li scopePath can also be a function ( {$scopePath: (scopeOfObject: any) => void } )
			.row
				.col-md-6
					h3.code-header Code
				.col-md-6
					h3 Output
			.row(style="display:flex")
				.col-md-6.demo-window(style="flex:1; margin:5px;")
					.mlboxcontainer
						textarea#code.ml-boxedit(data-bind='value: html', style="visibility:hidden")
				.col-md-6.demo-window(style="flex:1; margin:5px;")
					.mlboxcontainer
						iframe#mlboxresultsiframe.ml-boxedit.ml-boxresults(frameborder='0')

		script(src="/pageScripts/scopepath.js")
		script(src="/scripts/mlCodeMirror.js")
