@white: #fff;
@black: #000;
@default: #999;
@defaulttransparent: rgba(153, 153, 153, 0.5);
@primary: #137CBD;
@primarytransparent: rgba(10, 97, 196, 0.5);
@primarydark: rgb(16, 107, 163);
@success:#0F9960;
@successtransparent: rgba(17, 128, 17, 0.5);
@successdark: #0d7f51;
@warning: #D9822B;
@warningtransparent: rgba(209, 94, 22, 0.5);
@warningdark: #bf7325;
@danger: #DB3737;
@dangertransparent:rgba(219, 55, 55, 0.5);
@dangerdark: #c23030;
@shadow: rgba(21,29,21,0);
@shadowtransparent: rgba(21,29,21,0.33);
@blacktransparent: rgba(21, 29, 21, 0.7);

@input-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);

@primary-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @primary, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
@primary-box-shadow-focus:   0 0 0 1px @primary, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);

@danger-box-shadow: 0 0 0 0 rgba(219,55,55,0), 0 0 0 0 rgba(219,55,55,0), inset 0 0 0 1px @danger, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2) ;
@danger-box-shadow-focus:   0 0 0 1px @danger, 0 0 0 3px rgba(219,55,55,.3), inset 0 1px 1px rgba(16,22,26,.2);;

@warning-box-shadow: 0 0 0 0 rgba(217,130,43,0), 0 0 0 0 rgba(217,130,43,0), inset 0 0 0 1px @warning, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
@warning-box-shadow-focus:   0 0 0 1px @warning, 0 0 0 3px rgba(217,130,43,.3), inset 0 1px 1px rgba(16,22,26,.2);

@success-box-shadow: 0 0 0 0 rgba(15,153,96,0), 0 0 0 0 rgba(15,153,96,0), inset 0 0 0 1px @success, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
@success-box-shadow-focus:   0 0 0 1px @success, 0 0 0 3px rgba(15,153,96,.3), inset 0 1px 1px rgba(16,22,26,.2);
