@import '_variables.less';

.namespace-blueprint-breadcrumbs{

    .ml-blueprint-breadcrumbs-list,.ml-blueprint-breadcrumbs-list li{
        display: inline;
        padding: 6px;
        padding-left: 1px;
    }
    
    .ml-blueprint-breadcrumbs-list,.ml-blueprint-breadcrumbs-list li a{
        color: #5c7080;
        text-decoration: none;
    }

    .ml-blueprint-breadcrumbs-list,.ml-blueprint-breadcrumbs-list li a:hover{
        color: #106ba3;
    }

    .ml-blueprint-breadcrumbs-list li a.ml-blueprint-breadcrumbs-link-disabled{
        cursor: not-allowed !important;
        color: rgba(92,112,128,.5);
    }

    .ml-blueprint-breadcrumb-arrow{
        color: #5c7080 !important;
        padding-left: 4px;
    }
    .ml-blueprint-breadcrumb-arrow:hover{
        color: #106ba3 !important;
    }

    .ml-blueprint-breadcrumb-current{
        padding-left: 0;
        color: @black;
    }
}