@import '_variables.less';

.namespace-blueprint-button {
    .ml-blueprint-button, .ml-blueprint-button-default{
        background: @white;
        border: 0.1rem solid #ccc;
        font-size: 1.2rem;
        border: none;
        padding: 1rem;
        color: @black;
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        user-select: none;
    }
    
    .ml-dash-content .ml-blueprint-button-minimal{
        background: none;
        border: none;
        color: @black;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .ml-blueprint-button-minimal:hover, .ml-blueprint-button-icon-only:hover{
        background: @default;
        color: @white;
    }
    
    .ml-blueprint-button-large{
        padding: 1.4rem;
    }
    
    .ml-blueprint-button-small{
        padding: 0.6rem;
    }
    
    .ml-blueprint-button[disabled],.ml-blueprint-button[disabled]:hover {
        background: #777;
        color: @white;
        cursor: not-allowed !important;
    }
    
    .ml-blueprint-button-loading-background{
        padding: 0.2rem 2rem;
        background: #ccc;
        max-width: 200px;
        svg{
            margin: auto;
            display: block;
            -webkit-animation: spinner-animation .5s linear infinite;
            animation: spinner-animation .5s linear infinite;
            path {
                fill-opacity: 0;
            }
        }
        .ml-blueprint-spinner-track{
            stroke: rgba(92,112,128,.2);
        }
        .ml-blueprint-spinner-head{
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-transition: stroke-dashoffset .2s cubic-bezier(.4,1,.75,.9);
            transition: stroke-dashoffset .2s cubic-bezier(.4,1,.75,.9);
            stroke: rgba(92,112,128,.8);
            stroke-linecap: round;
        }
    }

    .ml-blueprint-button-loading-background[class*=ml-blueprint-button-intent-primary],
    .ml-blueprint-button-loading-background[class*=ml-blueprint-button-intent-warning],
    .ml-blueprint-button-loading-background[class*=ml-blueprint-button-intent-danger],
    .ml-blueprint-button-loading-background[class*=ml-blueprint-button-intent-success]{
        .ml-blueprint-spinner-head{
            stroke: rgba(255,255,255,.8);
        }
    }
    
    .ml-blueprint-button-icon, 
    .ml-blueprint-button-minimal:hover .ml-blueprint-button-icon, 
    .ml-blueprint-button-minimal .ml-blueprint-button-icon,
    {
        color: @white;
    }
    
    .ml-blueprint-button-intent-default .ml-blueprint-button-icon {
        color: @black;
    }
    
    .ml-blueprint-button-icon:hover{
        color: @white;
    }
    
    .ml-blueprint-button-intent-default .ml-blueprint-button-icon:hover{
        color: @black;
    }
    
    .ml-blueprint-button-loading-background{
        cursor: not-allowed;
    }
    
    .ml-blueprint-button-intent-primary{
        background: @primary;
        color: @white;
    }

    .ml-blueprint-button-intent-default:active,
    .ml-blueprint-button-intent-default.ml-blueprint-button-active{
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        background-color: #d8e1e8;
        background-image: none;
    }
    
    .ml-blueprint-button-intent-default:hover{
        background-clip: padding-box;
        background-color: #ebf1f5;
    }
    
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-primary:hover,
    .ml-blueprint-button-intent-primary.ml-blueprint-button-loading-background,
    .ml-blueprint-button-intent-primary.ml-blueprint-button-loading-background:hover{
        background: rgba(@primary, 0.3);
    }

    .ml-blueprint-button-minimal.ml-blueprint-button-intent-primary:active{
        background: darken(@primarytransparent, 10%);
    }
    
    .ml-blueprint-button-intent-primary.ml-blueprint-button-minimal .ml-blueprint-button-icon,
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-primary{
        color: @primary;
    }
    
    .ml-blueprint-button-intent-primary:hover{
        background: darken(@primary, 5%);
    }

    .ml-blueprint-button-intent-primary:active,
    .ml-blueprint-button-intent-primary.ml-blueprint-button-active{
        background: darken(@primary, 15%);
    }
    
    .ml-blueprint-button-intent-success, 
    .ml-blueprint-button-intent-success.ml-blueprint-button-loading-background{
        background: @success;
        color: @white;
    }
    
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-success:hover,
    .ml-blueprint-button-intent-success.ml-blueprint-button-loading-background,
    .ml-blueprint-button-intent-success.ml-blueprint-button-loading-background:hover{
        background: rgba(@success, 0.3);
    }

    .ml-blueprint-button-minimal.ml-blueprint-button-intent-success:active{
        background: darken(@successtransparent, 10%);
    }
    
    .ml-blueprint-button-intent-success.ml-blueprint-button-minimal .ml-blueprint-button-icon,
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-success{
        color: @success;
    }
    
    .ml-blueprint-button-intent-success:hover{
        background: darken(@success, 5%);
    }

    .ml-blueprint-button-intent-success:active,
    .ml-blueprint-button-intent-success.ml-blueprint-button-active{
        background: darken(@success, 15%);
    }

    .ml-blueprint-button-intent-warning{
        background: @warning;
        color: @white;
    }
    
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-warning:hover,
    .ml-blueprint-button-intent-warning.ml-blueprint-button-loading-background,
    .ml-blueprint-button-intent-warning.ml-blueprint-button-loading-background:hover{
        background: rgba(@warning,0.3);
    }

    .ml-blueprint-button-minimal.ml-blueprint-button-intent-warning:active{
        background: darken(@warningtransparent, 10%);
    }
    
    .ml-blueprint-button-intent-warning.ml-blueprint-button-minimal .ml-blueprint-button-icon,
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-warning{
        color: @warning;
    }

    .ml-blueprint-button-intent-warning:hover{
        background: darken(@warning, 5%);
    }

    .ml-blueprint-button-intent-warning:active,
    .ml-blueprint-button-intent-warning.ml-blueprint-button-active{
        background: darken(@warning, 15%);
    }
    
    .ml-blueprint-button-intent-danger{
        background: @danger;
        color: @white;
    }
    
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-danger:hover,
    .ml-blueprint-button-intent-danger.ml-blueprint-button-loading-background,
    .ml-blueprint-button-intent-danger.ml-blueprint-button-loading-background:hover{
        background: rgba(@danger, 0.3);
    }

    .ml-blueprint-button-minimal.ml-blueprint-button-intent-danger:active{
        background: darken(@dangertransparent, 10%);
    }

    .ml-blueprint-button-intent-danger.ml-blueprint-button-minimal .ml-blueprint-button-icon,
    .ml-blueprint-button-minimal.ml-blueprint-button-intent-danger{
        color: @danger;
    }

    .ml-blueprint-button-intent-danger:hover{
        background: darken(@danger, 5%);
    }

    .ml-blueprint-button-intent-danger:active,
    .ml-blueprint-button-intent-danger.ml-blueprint-button-active{
        background: darken(@danger, 10%);
    }
    
    .ml-blueprint-button .ml-blueprint-button-text-center {
        text-align: center;
    }
    
    .ml-blueprint-button .ml-blueprint-button-text-right {
        text-align: right;
    }
    
    .ml-blueprint-button .ml-blueprint-button-text-left {
        text-align: left;
    }

    @keyframes spinner-animation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        
        100% {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }
    }
}