@import '_variables.less';

.namespace-blueprint-card{
    .ml-blueprint-card{
        border: 0.1rem solid @default;
        border-radius: 0.3rem;
        box-shadow: 0 0 0 0.1rem @shadowtransparent,
                    0 0 0 @shadow,
                    0 0 0 @shadow;
        -webkit-box-shadow: 0 0 0 0.1rem @shadowtransparent,
                    0 0 0 @shadow,
                    0 0 0 @shadow;
        -moz-box-shadow: 0 0 0 0.1rem @shadowtransparent,
                    0 0 0 @shadow,
                    0 0 0 @shadow;
        padding: 10px;
        background: @white;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    
    .ml-blueprint-card.ml-blueprint-elevation-1{
        box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0 0 @shadow, 
                0 0.1rem 0.1rem @shadowtransparent;
        -webkit-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0 0 @shadow, 
                0 0.1rem 0.1rem @shadowtransparent;
        -moz-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0 0 @shadow, 
                0 0.1rem 0.1rem @shadowtransparent;
    }
    
    .ml-blueprint-card.ml-blueprint-elevation-2{
        box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.1rem 0.1rem @shadow, 
                0 0.2rem 0.6rem @shadowtransparent;
        -webkit-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.1rem 0.1rem @shadow, 
                0 0.2rem 0.6rem @shadowtransparent;
        -moz-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.1rem 0.1rem @shadow, 
                0 0.2rem 0.6rem @shadowtransparent;
    }
    
    .ml-blueprint-card.ml-blueprint-elevation-3,
    .ml-blueprint-card.ml-blueprint-card-interactive:hover{
        box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.2rem 0.4rem @shadow, 
                0 0.8rem 2.4rem @shadowtransparent;
        -webkit-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.2rem 0.4rem @shadow, 
                0 0.8rem 2.4rem @shadowtransparent;
        -moz-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.2rem 0.4rem @shadow, 
                0 0.8rem 2.4rem @shadowtransparent;
    }
    
    .ml-blueprint-card.ml-blueprint-card-interactive:hover{
        cursor: pointer;
    }
    
    .ml-blueprint-card.ml-blueprint-elevation-4{
        box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.4rem 0.8rem @shadow, 
                0 1.8rem 4.6rem 0.6rem @shadowtransparent;
        -webkit-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.4rem 0.8rem @shadow, 
                0 1.8rem 4.6rem 0.6rem @shadowtransparent;
        -moz-box-shadow: 0 0 0 0.1rem @shadowtransparent, 
                0 0.4rem 0.8rem @shadow, 
                0 1.8rem 4.6rem 0.6rem @shadowtransparent;
    }

    .ml-blueprint-card.ml-blueprint-card-interactive:active{
        opacity: .9;
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
        -webkit-transition-duration: 0;
        transition-duration: 0;
    }
}
