@import '_variables.less';

.namespace-blueprint-callout{
    .ml-blueprint-callout-default{
        border-radius: 0.3rem;
        padding: 1rem 1.5rem;
        color: #000;
    }
    
    .ml-blueprint-callout-default{
        background: rgba(@default, 0.2);
    }
    
    .ml-dash-content .ml-blueprint-callout-default.ml-blueprint-callout-primary{
        background: rgba(@primary, 0.2);
    }
    
    .ml-dash-content .ml-blueprint-callout-default.ml-blueprint-callout-success{
        background: rgba(@success, 0.2);
    }
    
    .ml-dash-content .ml-blueprint-callout-default.ml-blueprint-callout-warning{
        background: rgba(@warning, 0.2);
    }
    
    .ml-dash-content .ml-blueprint-callout-default.ml-blueprint-callout-danger{
        background: rgba(@danger, 0.2);
    }

    .ml-dash-content .ml-blueprint-callout-default.ml-blueprint-callout-hide-header{
        .ml-blueprint-button-icon{
            position: absolute;
            top: 10px;
        }
        .ml-blueprint-callout-content-text.ml-blueprint-callout-content-centered{
            padding-left: 30px;
        }
    }
    
    .ml-dash-content .ml-blueprint-callout-default.ml-blueprint-callout-hide-header h1,
    .ml-blueprint-callout-hide-header.ml-blueprint-callout-default.ml-blueprint-callout-primary h1,
    .ml-blueprint-callout-hide-header.ml-blueprint-callout-default.ml-blueprint-callout-success h1,
    .ml-blueprint-callout-hide-header.ml-blueprint-callout-default.ml-blueprint-callout-warning h1,
    .ml-blueprint-callout-hide-header.ml-blueprint-callout-default.ml-blueprint-callout-danger h1{
        display: none;
    }
    
    .ml-blueprint-callout-default h1{
        display: inline-block;
        font-size: 2.4rem;
        word-break: break-all;
    }
    
    .ml-blueprint-callout-header-primary,
    .ml-blueprint-callout-primary i.ml-blueprint-button-icon{
        color: @primary;
    }
    
    .ml-blueprint-callout-header-success,
    .ml-blueprint-callout-success i.ml-blueprint-button-icon{ 
        color: @success;
    }
    
    .ml-blueprint-callout-header-warning,
    .ml-blueprint-callout-warning i.ml-blueprint-button-icon{
        color: @warning;
    }
    
    .ml-blueprint-callout-header-danger,
    .ml-blueprint-callout-danger i.ml-blueprint-button-icon{
        color: @danger;
    }
    
    .ml-blueprint-callout-default p{
        padding-left: 2.4rem;
        font-size: 1.6rem;
        word-break: break-all;
    }
    
    .ml-blueprint-callout-default i{
        font-size: 2.5rem;
    }

    .ml-blueprint-callout-content-text.ml-blueprint-callout-content-centered{
        padding-left: 0;
        margin: 0;
        text-align: center;
    }
    
}