.namespace-blueprint-checkbox{

    .ml-blueprint-checkbox-label {
        display: block;
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        font-size: 12px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .ml-blueprint-checkbox-label .ml-blueprint-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .ml-blueprint-checkbox-check {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #eee;
        border-radius: 6px;
    }

    .ml-blueprint-checkbox-label:hover .ml-blueprint-checkbox ~ .ml-blueprint-checkbox-check {
        background-color: #ccc;
    }

    .ml-blueprint-checkbox-label .ml-blueprint-checkbox:checked ~ .ml-blueprint-checkbox-check,
    .ml-blueprint-checkbox-label .ml-blueprint-checkbox:indeterminate ~ .ml-blueprint-checkbox-check{
        background-color: #2196F3;
    }

    .ml-blueprint-checkbox-check:after {
        content: "";
        position: absolute;
        display: none;
    }

    .ml-blueprint-checkbox-label .ml-blueprint-checkbox:checked ~ .ml-blueprint-checkbox-check:after,
    .ml-blueprint-checkbox-label .ml-blueprint-checkbox:indeterminate ~ .ml-blueprint-checkbox-check:after {
        display: block;
    }

    .ml-blueprint-checkbox-label .ml-blueprint-checkbox:disabled ~ .ml-blueprint-checkbox-check {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .ml-blueprint-checkbox-label .ml-blueprint-checkbox-check:after {
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    }

    .ml-blueprint-checkbox-label .ml-blueprint-checkbox:indeterminate + .ml-blueprint-checkbox-check:after {
        left: 6px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 3px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }

    .ml-blueprint-checkbox-large.ml-blueprint-checkbox-label .ml-blueprint-checkbox-check:after,
    .ml-blueprint-checkbox-large.ml-blueprint-checkbox-label .ml-blueprint-checkbox-check:indeterminate{
        left: 9px;
        top: 6px;
        width: 7px;
        height: 10px;
    }

    .ml-blueprint-checkbox-large.ml-blueprint-checkbox-label .ml-blueprint-checkbox:indeterminate + .ml-blueprint-checkbox-check:after{
        left: 9px;
        top: 7px;
        width: 6px;
    }

    .ml-blueprint-checkbox-large.ml-blueprint-checkbox-label{
        font-size: 22px;
        padding-left: 35px;
    }
    
    .ml-blueprint-checkbox-large .ml-blueprint-checkbox-check{
        width: 25px;
        height: 25px;
    }

    .ml-blueprint-checkbox-left-align{
        font-weight: bold;
        margin-right: 6px;
        color: #6c6c6c;
        vertical-align: sub;
    }

    .ml-blueprint-checkbox-label-large{
        font-size: 22px;
    }

}