@import '_variables.less';

.namespace-blueprint-control-group{
    .ml-blueprint-control-group{
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        // max-width: max-content;
    }

    .ml-blueprint-control-group .ml-blueprint-html-select{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        letter-spacing: normal;

        select {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            padding: 0 20px 0 10px;
            vertical-align: middle;
            text-align: left;
            font-size: 14px;
            -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
            box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
            background-color: #f5f8fa;
            background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
            background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
            color: #182026;
            width: 100%;
            height: 30px;
            -moz-appearance: none;
            -webkit-appearance: none;
            border-radius: inherit;
        }

        i{
            font-size: 14px;
            position: absolute;
            top: 8px;
            right: 5px;
            color: #5c7080;
            pointer-events: none;
        }
    }

    .ml-blueprint-input-group{
        display: block;
        position: relative;
    }

    .ml-blueprint-input-group .ml-blueprint-input{
        width: 100%;
        border-radius: inherit;
        outline: none;
        border: none;
        background: #fff;
        height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        line-height: 30px;
        color: #182026;
        font-size: 14px;
        font-weight: 400;
        z-index: 14;
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2); 
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-input:focus{
        -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19,124,189,.3), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19,124,189,.3), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-input-icon{
        .ml-blueprint-input{
            padding-left: 30px;
        }

        span{
            position: absolute;
            margin: 7px;
            font-size: 14px;
            display: flex;
            align-items: center;
        }
    }

    .ml-blueprint-control-button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: inherit;
        cursor: pointer;
        padding: 5px 10px;
        vertical-align: middle;
        text-align: left;
        font-size: 14px;
        min-width: 30px;
        min-height: 30px;
        background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
        background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
        color: #182026;
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);

            &.ml-blueprint-button-intent-success, &.ml-blueprint-button-intent-danger, 
            &.ml-blueprint-button-intent-primary, &.ml-blueprint-button-intent-warning {
                color: white;
                background-image: none;
            }

            [class^="mlicon-"], [class*=" mlicon-"]{
                margin-right: 7px;
            }
    }

    .ml-blueprint-control-button:not([class*=ml-blueprint-button-intent-]){
        background-color: white;
    }

    .ml-blueprint-control-button:not([class*=ml-blueprint-button-intent-]):hover, .ml-blueprint-html-select select:hover{
        background-clip: padding-box;
        background-color: #ebf1f5;
    }

    .ml-blueprint-control-button:not([class*=ml-blueprint-button-intent-]):active, .ml-blueprint-html-select select:active{
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        background-color: #d8e1e8;
        background-image: none;
    }

    .ml-blueprint-control-group>:first-child{
        border-radius: 4px 0 0 4px;
    }

    .ml-blueprint-control-group>:last-child{
        border-radius: 0 4px 4px 0;
    }

    .ml-blueprint-vertical{
        display: flex;
        flex-direction: column;

        &.ml-blueprint-control-group>:first-child{
            border-radius: 4px 4px 0 0 ;
        }
    
        &.ml-blueprint-control-group>:last-child{
            border-radius: 0 0 4px 4px ;
        }


        .ml-blueprint-control-button{
            width: 100%;
        }

        *{
            margin-top: -1px;
        }

    }

    .ml-blueprint-fill{
        flex-grow: 1;
    }

}