.namespace-blueprint-collapse{
    .ml-blueprint-collapse-container{
        padding: 20px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.15);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.15);
    }
}