@import '_variables.less';

.namespace-blueprint-contextMenu{

    min-height: 500px;

    .ml-blueprint-context-menu-node{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border: 4px solid @white;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2), 0 2px 6px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2), 0 2px 6px rgba(16,22,26,.2);
        background-color: @primary;
        width: 80px;
        height: 80px;
        overflow: hidden;
        margin: 5px;
    }

    .ml-blueprint-context-menu-open{
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2), 0 2px 6px rgba(16,22,26,.2), 0 0 0 4px @warning;
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2), 0 2px 6px rgba(16,22,26,.2), 0 0 0 4px @warning;
    }

    .ml-blueprint-text-muted{
        color: @default;
    }

    [class^="mlicon-"]{
        position: absolute;
        color: @white;
    }
    [class^="mlicon-"]:hover{
        position: absolute;
        color:@white;
    }

    .ml-blueprint-popover-content{
        display: none;
        position: absolute;
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
        -webkit-transform: scale(1);
        transform: scale(1);
        display: inline-block;
        z-index: 20;
        border-radius: 3px;
    }

    .ml-blueprint-node-menu,.ml-blueprint-other-menu,[class^="ml-blueprint-submenu-list-"]{
        margin: 0;
        border-radius: 3px;
        background: #fff;
        min-width: 180px;
        padding: 5px;
        list-style: none;
        text-align: left;
        color: #182026;
    }

    [class^="ml-blueprint-submenu-list-"]{
        padding: 0;
    }

    .ml-blueprint-submenu-overlay{
        display: block;
        position: absolute;
        padding: 5px;
        background: @white;
    }

    .ml-blueprint-menu-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: center;
        border-radius: 2px;
        padding: 5px 7px;
        text-decoration: none;
        line-height: 20px;
        color: inherit;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        [class^="mlicon-"] {
            color: black;
        }

        .ml-blueprint-text{
            width: 80%;
            margin-left: 25px;
        }

        span{
            align-items: center;
            display: flex;

            i{
                font-size: 8px;
            }
        }

    }

    .ml-blueprint-other-menu{
        flex-direction: column;
    }
    .ml-blueprint-menu-item:hover{
        background-color: rgba(167,182,194,.3);
        cursor: pointer;
        text-decoration: none;
    }

    .ml-blueprint-menu-item.ml-blueprint-menu-item-disabled{
        outline: none!important;
        background-color: inherit!important;
        cursor: not-allowed!important;
        color: rgba(92,112,128,.5)!important;
    }

    .ml-blueprint-menu-divider{
        display: block;
        margin: 5px;
        border-top: 1px solid rgba(16,22,26,.15);
    }
 
}