@import '_variables.less';

.namespace-blueprint-dateinput{
    .ml-blueprint-dateinput-date {
        background: rgba(138,155,168,.2);
        width: max-content;
        padding: 2px 5px;
        display: block;
        margin: 20px auto 0px;

        .ml-blueprint-date-text {
            font-size: 12px;
            color: @black;
        }
    }

    .namespace-blueprint-datePicker .ml-dash-content{
        margin-top: 15px;
    }
    
    .ml-dash-content{
        .ml-blueprint-parentDiv{
            position: relative;
            .ml-blueprint-datePicker{
                box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
                -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
            }
        }
    }

    .ml-blueprint-parentDiv:after, .ml-blueprint-parentDiv:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .ml-blueprint-parentDiv:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 16px;
        margin-left: -16px;
    }
    .ml-blueprint-parentDiv:before {
        border-bottom-color: rgba(16, 22, 26, 0.3);;
        border-width: 17px;
        margin-left: -17px;
    }

}