@import '_variables.less';

.namespace-blueprint-datePicker {

    .ml-blueprint-parentDiv {

        max-width: max-content;

        .mlui-datepicker.mlui-widget-content{
            width: 240px;
            padding: 0px 8px 0px 8px; 
            background: @white;
            border: none;
            border-radius: 3px;
        }
    
        .ml-blueprint-datePicker {
            padding-bottom: 1px;
            max-width: max-content;
            -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
            box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);

            .ml-blueprint-button-bar {
                border-top: 1px solid #e5e5e5;
                padding: 4px;
                margin: 0px 8px;
                position: relative;

                .ml-blueprint-button-clear, .ml-blueprint-button-today {
                    border: none;
                    background: none;
                    font-size: 15px;
                    padding: 5px 6px;
                    opacity: 1;
                    color: @black;
                    margin-left: 0px;
                    position: relative;
                    top: 1px;
                }
            
                .ml-blueprint-button-clear {
                    float: right;
                }
                .ml-blueprint-button-clear:hover, .ml-blueprint-button-today:hover {
                    background: rgba(167,182,194,.3);
                }
            }

            .ml-blueprint-timePicker {
                -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
                box-shadow: inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
                padding: 1px;
                max-width: max-content;
                margin: 0 auto 8px;
                border-radius: 3px;

                input {
                    border: none;
                    width: 33px;
                    height: 28px;
                    text-align: center;
                    font-size: 14px;
                    cursor: text!important;
                    padding-top: 9px;
                    margin-right: 2px;
                    margin-left: 2px;
                }

                input:focus {
                    -webkit-box-shadow: @primary-box-shadow-focus;
                    box-shadow: @primary-box-shadow-focus;
                }

                span {
                    font-size: 16px;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    
    
        .mlui-datepicker {        
    
            .mlui-datepicker-header {
                background: none;
                height: 35px;
                padding: 3px 0;

                .mlui-datepicker-prev-hover {
                    left: 2px;
                }
                .mlui-datepicker-next-hover {
                    right: 2px;;
                }
            }
            
            .mlui-datepicker-title {
                height: 100%;
    
                select:nth-child(1) {
                    margin-left: 5px;
                    float: left;
                    width: max-content;
                }
    
                select:nth-child(2) {
                    margin-right: 5px;
                    float: right;
                    width: max-content
                }
    
                .mlui-datepicker-month, .mlui-datepicker-year {
                    font-size: 12px;
                    font-weight: 600;
                    border: none;
                    // -moz-appearance: none;
                    // -webkit-appearance: none;
                }
    
                .mlui-datepicker-month:hover, .mlui-datepicker-year:hover {
                    background: rgba(167,182,194,.3)
                }    
            }
    
            th {
                color: @black;
            }
    
            td:hover {
                background: #d8e1e8;
         
                a {
                    opacity: 1;
                }      
             }
    
             td {
                border-radius: 3px;
                span, a {
                    text-align: center;
                    color: @black;
                    padding-top: 6px;
                    line-height: 1.8em;
                }
            }
    
            td.mlui-datepicker-current-day {
                background: #137cbd;
                
                a {
                    color: @white;                
                }        
            }
    
            td.mlui-datepicker-current-day:hover {
                background: #106ba3
            }
    
            .mlui-datepicker-prev span, .mlui-datepicker-next span {
                margin-top: -3px;
                top: 9px;
                left: 13px;
            }
    
            .mlui-datepicker-prev,  .mlui-datepicker-next {
                width: 27px;
                height: 27px;
                top: 4px;
                border-radius: 3px;            
            }
    
            .mlui-datepicker-prev:hover,  .mlui-datepicker-next:hover {
                background: #d8e1e8;
            }
        } 
    
        .mlui-state-highlight, .mlui-widget-content .mlui-state-highlight, .mlui-widget-header .mlui-state-highlight {
            border: none; 
            background: none;
        }
    
        .ml-blueprint-select-date {
            background: rgba(138,155,168,.2);
            width: max-content;
            padding: 2px 5px;
            display: block;
            margin: 20px auto 0px;
    
            .ml-blueprint-date-text {
                font-size: 12px;
                color: @black;
            }
        }

        .mlui-priority-secondary, .mlui-widget-content .mlui-priority-secondary, .mlui-widget-header .mlui-priority-secondary {
            color: rgba(92,112,128,.5);
        }
        .mlui-priority-secondary:hover, .mlui-widget-content .mlui-priority-secondary:hover, .mlui-widget-header .mlui-priority-secondary:hover {
            color: @black;
        }
    }
}

.mlui-icon-circle-triangle-w {
    background-position: -96px 0px!important;
}

.mlui-icon-circle-triangle-e {
    background-position: -32px 0px!important
}
