.namespace-blueprint-dateRangePicker{

    #daterange{
        display: none;
    }

}

.ml-daterangepicker:before, .ml-daterangepicker:after{
    content: none!important;
}

.ml-daterangepicker.dropdown-menu{
    display: block!important;
    top:0!important;
}

.dropdown-menu{
    box-shadow: none!important;
}

.ml-daterangepicker td.active{
    background-color:#137cbd!important;
}

.ml-daterangepicker select.monthselect, .ml-daterangepicker select.yearselect{
    border: 0;
    background: none;
}