.namespace-blueprint-divider{

.ml-blueprint-text{
  background-color: white;

}
  .ml-blueprint-buttonLine{
    .ml-blueprint-span-divider {
      line-height: normal;
      position: relative;
      top: 1px;
      color: #182026;
    }
    button{
      font-size: 14px;
      color: #182026;
      background-color: white;
      border: none;
      margin-right: 2px;
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    button:hover{
      font-size: 14px;
      box-shadow: none;
      background: rgba(167,182,194,.3);
      text-decoration: none;
      color: #182026;
    }
    .ml-blueprint-divider-after{
      font-size: 14px;
      color: #182026;
      position: relative;
      &:after{

        position: absolute;
        content: "";
        right: -4px;
        top: 3px;
        height: 70%;
        width: 1px;
        background:  rgba(167,182,194,.3);

      }
    }
    button:last-child{
      &:after{
        border-top: none;

      }
    }
  }
  .ml-blueprint-buttonLine.ml-blueprint-vertical {
    display: inline-flex;
    flex-direction: column;

    .ml-blueprint-divider-after{
      margin-bottom: 10px;
      &:after{
        border-top: 1px solid rgba(167,182,194,.3);
        transform: translateY(-1rem);
        background: none;
        top: unset;
        bottom: -15px;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
    button:last-child{
      margin-bottom: 10px;
      &:after{
        border-top: none;
      }
    }

  }


  }


