// .namespace-blueprint-dialog.namespace-blueprint-button{
    @import '_variables.less';

.ml-blueprint-dialog-portal{

    .ml-blueprint-dialog-conteiner{
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 20;
        position: fixed;
    }
    
    .ml-blueprint-dialog{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 30px 0;
        border-radius: 6px;
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 4px 8px rgba(16,22,26,.2), 0 18px 46px 6px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 4px 8px rgba(16,22,26,.2), 0 18px 46px 6px rgba(16,22,26,.2);
        background: #ebf1f5;
        width: 500px;
        padding-bottom: 20px;
        pointer-events: all;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        position: absolute
    }

    .ml-blueprint-button{
        margin-left: 3px;
        background: @white;
        border: 0.1rem solid #ccc;
        border: none;
        color: @black;
        background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
        -moz-user-select: -moz-none;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
    }

    .ml-blueprint-button-intent-primary,.ml-blueprint-button-intent-warning,.ml-blueprint-button-intent-danger,.ml-blueprint-button-intent-danger{
        color:white;
    }
  
    .ml-blueprint-dialog-conteiner [class^="mlicon-"]{
        font-size: 20px;
    }

    .ml-blueprint-dialog-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 6px 6px 0 0;
        -webkit-box-shadow: 0 1px 0 rgba(16,22,26,.15);
        box-shadow: 0 1px 0 rgba(16,22,26,.15);
        background: #fff;
        min-height: 40px;
        padding-right: 5px;
        padding-left: 20px;
    }

    .ml-blueprint-heading{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        line-height: inherit;
        color: #182026;
        font-weight: 600;
        padding: 0;
        font-size: 18px;    
        margin: 0;
        margin-left: 10px;
        margin-top: 3px;
    }

    .ml-blueprint-dialog-header .ml-blueprint-button{
        border: 0;
        background-color: #fff;
        box-shadow: unset;
        font-size: 11px;
        color: #5c7080;
        padding-bottom: 4px;
    }

    .ml-blueprint-dialog-header .ml-blueprint-button:hover{
        background-color: rgba(167,182,194,.3);
    }

    .ml-blueprint-dialog-body{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: 20px;
        line-height: 18px;
    }

    .ml-blueprint-dialog-footer{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 0 20px;
    }

    .ml-blueprint-dialog p {
        font-size: 14px;
        font-weight: 400;
        color: #182026;

        br{
            height: 10px;
            display: block;
            content: "";
        }
    }

    .ml-blueprint-dialog-footer-actions{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        a{
            margin-left: 10px;
        }
    }

    .ml-blueprint-dialog-conteiner{
        transform: scale(0.5);
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }

    .ml-blueprint-button-intent-primary{
        background: @primary;
    }
    .ml-blueprint-button-intent-danger{
        background: @danger;
    }
    .ml-blueprint-button-intent-warning{
        background: @warning;
    }
    .ml-blueprint-button-intent-success{
        background: @success;
    }
    .ml-blueprint-button-intent-default{
        background: @default;
    }
    

}

    .ml-blueprint-dialog-portal.show{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1100;
        &:after{
            position: fixed;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height:100% ;
            background-color: rgba(16,22,26,.7);
        }
        .ml-blueprint-dialog-conteiner{
            opacity: 1;
            transform: scale(1);
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
           
        }
    }
   
// }