@import '_variables.less';

.namespace-blueprint-EditableText {

    
  .ml-blueprint-Area {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      
      .inputWrap  {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        z-index: 22;
        padding: 5px;
        overflow: hidden;
        input{
          text-overflow: ellipsis;
          font-weight: 600;
          padding:0 5px !important;
          position: absolute;
          z-index: 22;
          left: 5px;
          max-width: 100%;
          min-width: 80px;
          white-space: nowrap;
          top: 0;
          margin: auto;
          bottom: 0;
          font-size: 30px;
          background-color: transparent !important;
          border:0;
          letter-spacing: 1px;
          &::-webkit-input-placeholder {
            color: #aeb8c0;
          }
          &:hover{
            box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15);
          }
          &:focus{
            box-shadow:0px 0px 4px 1px @primary;
          }
        }
        span{
          border: 0;
          padding:0 5px;
          display: inline-block;
          color: #aeb8c0;
          font-size: 30px;
          font-weight: 600;
          letter-spacing: 1px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 80px;
          &:hover{
            box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15);
          }
        }
        .colorBlack{
          color: #000;
        }
    }
    .textareaWrap {
      position: relative;
      margin-bottom: 15px;
      display: flex;
      z-index: 22;
      padding: 5px;
      textarea{
        position: relative;
        z-index: 1;
        background-color: transparent;
        resize: none;
        border: 0;
        max-height: 150px;
        width: 100%;
        padding: 5px !important;
        visibility: hidden;
        // height:52px;
        &:focus{
          box-shadow:0px 0px 4px 1px @primary;
        }
        &::-webkit-input-placeholder {
          color: #aeb8c0;
        }
      }
      span{
        position: absolute;
        left: 5px;
        z-index: -1;
        top: 5px;
        max-height: 150px;
        word-break: break-all;
        width: calc(100% - 10px);
        overflow-x: hidden;
        padding:5px;
        height: calc(100% - 10px);
        color: #aeb8c0;
        &:hover{
          cursor: text;
          box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15);
        }
      }
      .colorBlack{
        color: #000;
      }
    }
  }
  .ml-blueprint-Area-success{
    input, span, textarea{
      color: @success !important
    }
    input:focus, textarea:focus{
      box-shadow:0px 0px 4px 1px @success !important;
    }
  }
  .ml-blueprint-Area-danger{
    input, span, textarea{
      color: @danger !important;
    }
    input:focus, textarea:focus{
      box-shadow:0px 0px 4px 1px @danger !important;
    }
  }
  .ml-blueprint-Area-primary{
    input, span, textarea{
      color: @primary !important
    }
    input:focus, textarea:focus{
      box-shadow:0px 0px 4px 1px @primary !important;
    }
  }
  .ml-blueprint-Area-warning{
    input, span, textarea{
      color: @warning !important
    }
    input:focus, textarea:focus{
      box-shadow:0px 0px 4px 1px @warning !important;
    }
  }
  

}