.namespace-blueprint-file-input{
    min-height: 30px;
    .ml-blueprint-file-input{
        opacity: 0;
        position: absolute;
        z-index: -1;
        min-width: 200px;
    }

    .ml-blueprint-file-input:disabled+.ml-blueprint-file-input-fancy{
        box-shadow: none;
        background: rgba(206,217,224,.5);
        cursor: not-allowed;
        color: rgba(92,112,128,.5);
        resize: none;
    } 

    // styles taken from blueprint's documentation with minimal modifications
    .ml-blueprint-file-input-fancy{
        outline: none;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        -moz-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        background: #fff;
        height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        line-height: 30px;
        color: #182026;
        font-size: 14px;
        font-weight: 400;
        transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
        -webkit-transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
        -moz-transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding-right: 80px;
        cursor: pointer;
        max-width: 325px;
    }

    .ml-blueprint-file-input-fancy::after{
        background-color: #f5f8fa;
        background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
        color: #182026;
        min-width: 24px;
        min-height: 24px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 3px;
        border-radius: 3px;
        width: 70px;
        text-align: center;
        line-height: 24px;
        content: "Browse";
        border: 1px solid #ccc;
    }

    .ml-blueprint-file-input:disabled+.ml-blueprint-file-input-fancy::after
    {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-color: rgba(206,217,224,.5);
        background-image: none;
        cursor: not-allowed;
        color: rgba(92,112,128,.5)
    }

    .ml-blueprint-file-input-large.ml-blueprint-file-input-fancy{
        font-size: 15px;
        line-height: 50px;
        height: 50px;
    }

    .ml-blueprint-file-input-large.ml-blueprint-file-input-fancy::after{
        line-height: 42px;
    }
}