@import '_variables.less';

.namespace-blueprint-switch.namespace-blueprint-label-input.namespace-blueprint-FormGroup {
    .ml-blueprint-switchGroup {
        margin-top: 20px;       

        .ml-blueprint-switch-content {
            .ml-blueprint-switch-parent {

                color: #182026;
                 
                .ml-blueprint-switch-label {
                    display: block;
                    margin-right: 10px;
                }
                display: flex; 
                align-items: flex-end;
            }
        }
    }

    .ml-blueprint-formGroup {
        .ml-blueprint-label {
            line-height: 30px;
        }

        .ml-blueprint-form-content {
            .ml-blueprint-label-input {
                height: 30px;
            }
        }
    }
    
    .ml-blueprint-switchGroup, .ml-blueprint-formGroup {
        .ml-blueprint-helper-text {
            margin-top: 10px;
            color: #5c7080;
            font-size: 12px;
        }
        label.ml-blueprint-label {
            font-weight: unset;
            color: #182026;
            line-height: 30px;

            .ml-blueprint-label-info {
                color: #5c7080;
            }
        }
    }

    div.ml-blueprint-inline {

        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        label.ml-blueprint-label {
            margin-right: 10px;
        }
        .ml-blueprint-helper-text {
            margin-top: 5px;
        }

    }
  
    div.ml-blueprint-inline.ml-blueprint-formGroup{
        label.ml-blueprint-label {
            line-height: 30px;
        }
    }
    div.ml-blueprint-inline.ml-blueprint-switchGroup {
        label.ml-blueprint-label {
            line-height: unset;
        }
    }

    div.ml-blueprint-disabled {
        .ml-blueprint-helper-text.ml-blueprint-text-success{
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        .ml-blueprint-helper-text.ml-blueprint-text-danger{
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        .ml-blueprint-helper-text.ml-blueprint-text-primary{
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        .ml-blueprint-helper-text.ml-blueprint-text-warning{
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        .ml-blueprint-helper-text.ml-blueprint-text-default{
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        &.ml-blueprint-formGroup [class^="ml-blueprint-label"] {
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        &.ml-blueprint-switchGroup [class^="ml-blueprint-label"]{
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        .ml-blueprint-label-input{
            background-color: rgba(206,217,224,.5);
            color: rgba(92,112,128,.5);
            cursor: not-allowed!important;
        }
        .ml-blueprint-switch-content .ml-blueprint-switch-parent{
            color: rgba(92,112,128,.5);
            cursor: not-allowed;
        }
        .ml-blueprint-switch-slider{
            cursor: not-allowed!important;
        }
    }

    .ml-blueprint-helper-text.ml-blueprint-text-danger{
        color: @danger;
    }
    .ml-blueprint-helper-text.ml-blueprint-text-warning{
        color: @warning;
    }
    .ml-blueprint-helper-text.ml-blueprint-text-success{
        color: @success;
    }
    .ml-blueprint-helper-text.ml-blueprint-text-primary{
        color: @primary;
    }

    .ml-blueprint-label-input.ml-blueprint-input-intent-primary{
        border: 1px solid @primary;
    }
    .ml-blueprint-label-input.ml-blueprint-input-intent-warning{
        border: 1px solid @warning;
    }
    .ml-blueprint-label-input.ml-blueprint-input-intent-danger{
        border: 1px solid @danger;
    }
    .ml-blueprint-label-input.ml-blueprint-input-intent-success{
        border: 1px solid @success;
    }
           
    .ml-blueprint-label-input.ml-blueprint-input-intent-primary:focus{
        box-shadow: @primary-box-shadow-focus
    }
    .ml-blueprint-label-input.ml-blueprint-input-intent-warning:focus{
        box-shadow: @warning-box-shadow-focus
    }
    .ml-blueprint-label-input.ml-blueprint-input-intent-danger:focus{
        box-shadow: @danger-box-shadow-focus
    }
    .ml-blueprint-label-input.ml-blueprint-input-intent-success:focus{
        box-shadow: @success-box-shadow-focus
    }
}