@import '_variables.less';

.namespace-blueprint-htmlSelect {

    .ml-blueprint-select-div{

        .ml-blueprint-select {
            background-color: #f5f8fa;
            min-width: 20px;
            max-width: 150px;
            width: 100%;
            height: 35px;
            font-size: 12px;
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
        }
    
        .ml-blueprint-select:active {
            -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
            box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
            background-color: #d8e1e8;
            background-image: none;  
        }
    
        .ml-blueprint-option {
            -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
            box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
            background-color: #d8e1e8;
            background-image: none;    
        }
    
        .ml-blueprint-select.ml-blueprint-select-large {
            height: 40px;
            max-width: 170px;
            width: 100%;
            font-size: 14px;
        }
    
        .ml-blueprint-select.ml-blueprint-select-fill {
            width: 100%;
            margin: 20px;
            max-width: 100%;
        }
    
        .ml-blueprint-select.ml-blueprint-select-minimal {
            background-color: @white;
            border: none;
        }
        .ml-blueprint-select.ml-blueprint-select-minimal:active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    
        .ml-blueprint-select.ml-blueprint-select-minimal:hover {
            background-color: rgba(167,182,194,.3);
        }
    
        .ml-blueprint-select.ml-blueprint-select-disabled {
            cursor: not-allowed!important;
        }
    
        .ml-blueprint-select-disabled:hover.ml-blueprint-select-minimal:hover{
            background-color: #fff;
        }
    }
}