.namespace-blueprint-table{
    .ml-blueprint-html-table{
        width: 100%;
        border-spacing: 0;
        font-size: 14px;
        tr{
            th{
                padding: 11px;
                vertical-align: top;
                text-align: left;
                color: #182026;
                font-weight: 600;
            }
            td{
                color: #182026;
                padding: 11px;
                vertical-align: top;
                text-align: left;
            }
        }
        tbody tr:first-child {
            -webkit-box-shadow: inset 0 1px 0 0 rgba(16,22,26,.15);
            box-shadow: inset 0 1px 0 0 rgba(16,22,26,.15);
        }
        &.ml-blueprint-condensed{
            tr>*{
                padding-top: 6px;
                padding-bottom: 6px;
            }
        }

        &.ml-blueprint-bordered{
            tr{
                th:not(:first-child){
                    -webkit-box-shadow: inset 1px 0 0 0 rgba(16,22,26,.15);
                    box-shadow: inset 1px 0 0 0 rgba(16,22,26,.15);
                }
                td{
                    -webkit-box-shadow: inset 0 1px 0 0 rgba(16,22,26,.15);
                    box-shadow: inset 0 1px 0 0 rgba(16,22,26,.15);
                    &:not(:first-child){
                        -webkit-box-shadow: inset 1px 1px 0 0 rgba(16,22,26,.15);
                        box-shadow: inset 1px 1px 0 0 rgba(16,22,26,.15);
                    }
                }
            }
        }

        &.ml-blueprint-striped{
            tr:nth-child(odd) td {
                background: rgba(191,204,214,.15);
            }

            &.ml-blueprint-bordered{
                tr td{
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    &:not(:first-child){
                        -webkit-box-shadow: inset 1px 0 0 0 rgba(16,22,26,.15);
                        box-shadow: inset 1px 0 0 0 rgba(16,22,26,.15);
                    }
                }
            }
        }

        &.ml-blueprint-interactive{
            tr:hover td {
                background-color: rgba(191,204,214,.3);
                cursor: pointer;
            }
        }
    }
}