@import '_variables.less';

.ml-dash-wrapper .ml-dash-content {
    .ml-blueprint-label-input{
        font-size: 13px;
    }
}

.namespace-blueprint-label-input {
    
    .ml-blueprint-label{
        font-size: 12px;
    }
    .ml-blueprint-label-input:focus {
        -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19,124,189,.3), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19,124,189,.3), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-label-input:hover {
        border: 1px solid #e5e5e5;
    }
    
    .ml-blueprint-label-input {
        display: block;
        cursor: auto!important;
        width: 200px;
        height: 34px;
    }
    .ml-blueprint-label.ml-blueprint-display-inline {
        display: inline;
    }

    .ml-blueprint-display-inline + .ml-blueprint-label-input {
        display: inline;
        margin-left: 10px;
    }
    .ml-blueprint-disabled.ml-blueprint-label-input {
        background: rgba(206,217,224,.5);
        color: rgba(92,112,128,.5);
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ml-blueprint-label.ml-blueprint-label-disabled {
        color: rgba(92,112,128,.5);
    }
}