@import '_variables.less';

.namespace-blueprint-menu{
    height: 350px;
    .ml-blueprint-openList{
        background-color: #ebf1f5;
        background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.8)), to(hsla(0, 0%, 100%, 0)));
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
        color: #5c7080;
        box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
        border: none;
        border-radius: 3px;
        cursor: pointer;
        padding: 5px 10px;
        text-align: left;
        max-width: 100%;
        margin-right: auto;
        font-size: 14px;
        line-height: normal;
        position: relative;
        width: max-content;
        top: 0px;
        display: block;
        &, & i{
            transition: 0s !important;
        }
    }
}

.ml-blueprint-ParentMenuList{
        margin-bottom: 0;
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
        max-width: 200px;
        border-radius: 3px;
        background: #fff;
        min-width: 180px;
        padding: 5px 0;
        list-style: none;
        text-align: left;
        color: #182026;
        display: block;
        position: absolute;
        transform: scale(0.7);
        transform-origin: top left;
        opacity: 0;
        transition: 0.4s cubic-bezier(0.16, 0.65, 0.24, 1.21);
        &:after{
            position: absolute;
            -webkit-transform: rotate(45deg);
            transform: rotate(-45deg);
            border-radius: 2px;
            content: "";
            margin: 5px;
            width: 13px;
            height: 13px;
            box-shadow: -1px -1px 1px 0px rgba(16, 22, 26, 0.2);
            top: 3px;
            z-index: 1;
            left: -11px;
            background-color: #fff;
        }
        li a{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            text-decoration: none;
            line-height: 20px;
            color: inherit;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding-right: 5px;
            p{
                padding: 5px 7px;
                font-size: 14px;
                margin-bottom: 0;
                line-height: normal;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: calc(100% - 20px);
            }
            
            > span{
                font-size: 14px;
            }
            >span.subMenuCaret{
                font-size: 9px
            }
        }
        li{
            padding: 0 10px;
            position: relative;
            overflow: hidden;
            .ml-blueprint-MenuFirstLevel {
                position: absolute;
                left: calc(100% + 1px);
                margin-bottom: 0;
                box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
                max-width: 250px;
                border-radius: 3px;
                background: #fff;
                min-width: 180px;
                padding: 5px 0;
                list-style: none;
                text-align: left;
                color: #182026;
                // transform: scale(0.8);
                opacity: 0;
                visibility: hidden;
                transition: 0.4s cubic-bezier(0.16, 0.65, 0.24, 1.21);
                display: inline-block;
                &:after{
                    position: absolute;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(-45deg);
                    border-radius: 2px;
                    content: "";
                    margin: 5px;
                    width: 13px;
                    height: 13px;
                    box-shadow: -1px -1px 1px 0px rgba(16, 22, 26, 0.2);
                    top: 3px;
                    z-index: 1;
                    left: -11px;
                    background-color: #fff;
                }
            }
            ul.ml-blueprint-MenuFirstLevel.ml-blueprint-positionLeft:after {
                left: calc(100% - 13px);
                transform: rotate(140deg);
            }
            ul.ml-blueprint-MenuFirstLevel.ml-blueprint-positionLeft {
                left: inherit !important;
                right: 100%;
            }
            &:not(.ml-blueprint-disabled):hover > .ml-blueprint-MenuFirstLevel {
                // transform: scale(1);
                opacity: 1;
                visibility:visible;
            }
            .isTitleTrue{
                font-weight: 600;
            }
        }
        .ml-blueprint-parentHidden{
            visibility: hidden !important;
            opacity: 0 !important;
            // transform: scale(0.8) !important
        }
        li.ml-blueprint-disabled{
            >a{
                cursor: not-allowed;
                p, span{
                    pointer-events: none;
                    color: rgba(92,112,128,.5);
                }
            }
        }
        li.ml-blueprint-danger.ml-blueprint-backgroundHover{
            >a{
                background-color: @danger;
                p, & span{
                    color: #fff;
                }
            }
        }
        .ml-blueprint-popover_hover {
            overflow: visible;
        }
        .ml-blueprint-backgroundHover > a{
            background-color: rgba(167,182,194,.3);
        }
        li:hover >.isTitleTrue{
            background-color: transparent !important;
            cursor: auto;
        }
        li.ml-blueprint-divider{
            display: block;
            margin: 5px 10px;
            border-top: 1px solid rgba(16,22,26,.15);
        }
        
}
    
.ml-blueprint-positionLeftUl{
    &:after{
        transform: rotate(135deg);
        left: auto;
        right: -11px;
    }
}
.ml-blueprint-openListCommon {
    opacity: 1;
    transform: scale(1);
}
