.namespace-blueprint-Navbar {    
    .ml-blueprint-navbar {
        position: relative;
        z-index: 10;
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
        background-color: #fff;
        width: 100%;
        height: 50px;
        padding: 0 15px;

        .ml-blueprint-navbar-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 50px;
            flex-wrap: wrap;

            .ml-blueprint-navbar-header {
                font-size: 16px;
                margin-right: 10px;
                color: #182026;
                top: 1px;
                display: flex;
                height: 100%;
                align-items: center;

                input {
                    border: none;
                    -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
                    box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
                    border-radius: 3px;
                    height: 30px;
                    padding: 0 10px;
                    margin-left: 15px;
                    font-size: 14px;
                }
            }
            .ml-blueprint-button-group {
                display: flex;

                .ml-blueprint-navbar-button {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border: none;
                    background: none;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    padding: 8px 10px;
    
                    i {
                        margin-right: 7px;
                        font-size: 16px;
                        color: #5c7080
                    }
    
                    span {
                        line-height: normal;
                        position: relative;
                        top: 1px;
                        color: #182026;
    
                    }
                }
            }
            .ml-blueprint-navbar-button:hover {
                background: #ebf1f5
            }
            .ml-blueprint-navbar-button:active {
                background: #a7b6c24d
            }
            .ml-blueprint-navbar-button.ml-blueprint-divider {
                position: relative;
                margin-left: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    left: -10px;
                    height: 70%;
                    width: 1px;
                    background-color: rgba(16,22,26,.15);    
                }
            }
        }
        // .ml-blueprint-navbar {
            .ml-blueprint-wrap.ml-blueprint-navbar-group[class^="ml-blueprint-navbar-"] {
                justify-content: flex-start;
    
                .ml-blueprint-button-group {
                    margin-left: auto;
                }
                .ml-blueprint-button-group {
                    margin-top: 7px;
                }
            }


        // }

        .ml-blueprint-navbar-group.ml-blueprint-navbar-left {
            display: flex;
            justify-content: flex-start;            
        }
        .ml-blueprint-navbar-group.ml-blueprint-navbar-center {
            display: flex;
            justify-content: center;            
        }
        .ml-blueprint-navbar-group.ml-blueprint-navbar-right {
            display: flex;
            justify-content: flex-end;            
        }

        .ml-blueprint-navbar-group.ml-blueprint-navbar-around {
            display: flex;
            justify-content: space-around;
        }
    }
    .ml-blueprint-navbar.ml-blueprint-navbar-dark {
        background: #394b59;

        .ml-blueprint-navbar-group{
            .ml-blueprint-navbar-header {
                color: #f5f8fa; 
            }
            .ml-blueprint-navbar-button i, .ml-blueprint-navbar-button span {
                color: #bfccd6
            }

            .ml-blueprint-button-group {

                .ml-blueprint-navbar-button:hover {
                    background: #8a9ba826
                }

                .ml-blueprint-navbar-button:active {
                    background: #8a9ba84d
                }

                .ml-blueprint-navbar-button.ml-blueprint-divider {
                    &::before {
                        background-color: #bfccd6;    
                    }
                }
            }
        }

    }


}

