@import '_variables.less';

.namespace-blueprint-numeric-input{

    .ml-blueprint-numeric-input-container input.ml-blueprint-numeric-input{
        padding-left: 23px;
        height: inherit;
        border-radius: 0px;
        cursor: text !important;
        outline: none;
        border: none;
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        background: #fff;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        color: #182026;
        font-size: 14px;
        font-weight: 400;
        -webkit-transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
        transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
        transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
        transition: box-shadow .1s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .ml-blueprint-numeric-input-container input.ml-blueprint-numeric-input:disabled{
        -webkit-box-shadow: none;
        box-shadow: none;
        background: rgba(206,217,224,.5);
        cursor: not-allowed;
        color: rgba(92,112,128,.5);
        resize: none;
    }

    .ml-blueprint-numeric-input-container input.ml-blueprint-numeric-input:disabled,
    .ml-blueprint-increment-btn:disabled, .ml-blueprint-decrement-btn:disabled{
        background: rgba(190,190,190,0.5);
        box-shadow: none;
    }
    
    .ml-blueprint-numeric-input-fill, .ml-blueprint-numeric-input-fill .ml-blueprint-numeric-input-none{
        width: 100%;
    }

    .ml-blueprint-numeric-input-fill .ml-blueprint-numeric-input{
        width: 92%;
    }
    
    .ml-blueprint-numeric-input-fill .ml-blueprint-numeric-input-large{
        width: 89%;
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input.ml-blueprint-numeric-input-large{
        height: 50px;
        padding-left: 28px;
        font-size: 20px;
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-large,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-large{
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
    }
    
    .ml-blueprint-numeric-input-container input.ml-blueprint-numeric-input:disabled:hover,
    .ml-blueprint-increment-btn:disabled:hover,
    .ml-blueprint-decrement-btn:disabled:hover{
        cursor: not-allowed !important;
    }
    
    .ml-blueprint-numeric-input-container{
        position: relative;
    }

    .ml-blueprint-numeric-input-container-large{
        height: 50px;
    }
    
    .ml-blueprint-numeric-input-flex-container{
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        height: inherit;
    }
    
    .ml-blueprint-numeric-input-icon{
        position: absolute;
        top: 9px;
        left: 8px;
    }

    .ml-blueprint-numeric-input-container-large .ml-blueprint-numeric-input-icon{
        top: 14px;
        font-size: 20px;
    }
    
    .ml-blueprint-numeric-input-icon-left{
        left: 37px;
    }

    .ml-blueprint-numeric-input-left{
        margin-left: 30px;
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input.ml-blueprint-numeric-input-primary{
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @primary, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @primary, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input.ml-blueprint-numeric-input-success{
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @success, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @success, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input.ml-blueprint-numeric-input-warning{
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @warning, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @warning, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input.ml-blueprint-numeric-input-danger{
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @danger, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @danger, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input.ml-blueprint-numeric-input-default{
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @default, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px @default, inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
    }

    .ml-blueprint-increment-btn,.ml-blueprint-decrement-btn{
        color: @white;
        border: none;
        border-radius: 0;
        padding: 0;
        width: 30px;
        flex: 1 1 15px;
        min-height: 0;
    }

    .ml-blueprint-increment-btn i,.ml-blueprint-decrement-btn i,
    .ml-blueprint-increment-btn i:hover,.ml-blueprint-decrement-btn i:hover{
        color: @white;
    }

    .ml-blueprint-numeric-input-default{
        background: @default;
    }
    
    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input-default:focus{
        -webkit-box-shadow: @input-box-shadow;
        -moz-box-shadow: @input-box-shadow;
        box-shadow: @input-box-shadow;
    }
    .ml-blueprint-numeric-input-primary{
        background: @primary;
        -webkit-box-shadow: @primary-box-shadow;
        -moz-box-shadow: @primary-box-shadow;
        box-shadow: @primary-box-shadow;
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input-primary:focus{
        -webkit-box-shadow: @primary-box-shadow-focus;
        -moz-box-shadow: @primary-box-shadow-focus;
        box-shadow: @primary-box-shadow-focus;
    }

    
    .ml-blueprint-numeric-input-success{
        background: @success;
        -webkit-box-shadow: @success-box-shadow;
        -moz-box-shadow: @success-box-shadow;
        box-shadow: @success-box-shadow;
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input-success:focus{
        -webkit-box-shadow: @success-box-shadow-focus;
        -moz-box-shadow: @success-box-shadow-focus;
        box-shadow: @success-box-shadow-focus;
    }

    .ml-blueprint-numeric-input-warning{
        background: @warning;
        -webkit-box-shadow: @warning-box-shadow;
        -moz-box-shadow: @warning-box-shadow;
        box-shadow: @warning-box-shadow;
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input-warning:focus{
        -webkit-box-shadow: @warning-box-shadow-focus;
        -moz-box-shadow: @warning-box-shadow-focus;
        box-shadow: @warning-box-shadow-focus;
    }

    .ml-blueprint-numeric-input-danger{
        background: @danger;
        -webkit-box-shadow: @danger-box-shadow;
        -moz-box-shadow: @danger-box-shadow;
        box-shadow: @danger-box-shadow;
    }

    .ml-blueprint-numeric-input-container .ml-blueprint-numeric-input-danger:focus{
        -webkit-box-shadow: @danger-box-shadow-focus;
        -moz-box-shadow: @danger-box-shadow-focus;
        box-shadow: @danger-box-shadow-focus;
    }

    .ml-blueprint-numeric-input-icon-primary,.ml-blueprint-numeric-input-icon-primary:hover{
        color: @primary;
    }

    .ml-blueprint-numeric-input-icon-success, .ml-blueprint-numeric-input-icon-success:hover{
        color: @success;
    }
    
    .ml-blueprint-numeric-input-icon-warning, .ml-blueprint-numeric-input-icon-warning:hover{
        color: @warning;
    }
    
    .ml-blueprint-numeric-input-icon-danger,.ml-blueprint-numeric-input-icon-danger:hover{
        color: @danger;
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-default:hover,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-default:hover{
        background: darken(@default, 10%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-default:active,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-default:active{
        background: darken(@default, 20%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-default:disabled,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-default:disabled{
        background: rgba(@default, 0.5);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-primary:hover,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-primary:hover{
        background: darken(@primary, 10%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-primary:active,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-primary:active{
        background: darken(@primary, 20%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-primary:disabled,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-primary:disabled{
        background: rgba(@primary, 0.5);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-success:hover,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-success:hover{
        background: darken(@success, 10%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-success:active,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-success:active{
        background: darken(@success, 20%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-success:disabled,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-success:disabled{
        background: rgba(@success, 0.5);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-warning:hover,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-warning:hover{
        background: darken(@warning, 10%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-warning:active,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-warning:active{
        background: darken(@warning, 20%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-warning:disabled,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-warning:disabled{
        background: rgba(@warning, 0.5);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-danger:hover,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-danger:hover{
        background: darken(@danger, 10%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-danger:active,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-danger:active{
        background: darken(@danger, 20%);
    }

    .ml-blueprint-increment-btn.ml-blueprint-numeric-input-danger:disabled,
    .ml-blueprint-decrement-btn.ml-blueprint-numeric-input-danger:disabled{
        background: rgba(@danger, 0.5);
    }
}