// .namespace-blueprint-select.namespace-blueprint-omnibar{
    @import '_variables.less';

    .ml-blueprint-omnibar-control{
        .ml-blueprint-key{
            display: flex;
            max-width: max-content;
            
            span{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
                min-width: 24px;
                line-height: 24px;
                font-size: 12px;
                padding: 0px 5px;
                margin-right: 5px;
            }
        }
    }

    .ml-blueprint-overlay-omnibar{
        .ml-blueprint-overlay-backdrop{
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 1;
            z-index: 20;
            background-color: rgba(16,22,26,.2);
            overflow: auto;
    
        }
    
        .ml-blueprint-overlay-content{
            filter: blur(0);
            position: fixed;
            opacity: 1;
            top: 20vh;
            left: calc(50% - 250px);
            z-index: 21;
            border-radius: 3px;
            box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 4px 8px rgba(16,22,26,.2), 0 18px 46px 6px rgba(16,22,26,.2);
            background-color: #fff;
            width: 500px;
    
        }
    
        .ml-blueprint-select-input-group{
            padding-bottom: 0;
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: row;

            .ml-blueprint-select-filter{
                width: 100%;
                border-radius: 3px;
                height: 40px;
                padding: 0 0 0 0;
                vertical-align: middle;
                line-height: 40px;
                color: #182026;
                font-size: 16px;
                font-weight: 400;
                cursor: text !important;
                border-left: 0;
                border-top: 0;

                &:not(:first-child){
                    padding-left: 40px; 
                    padding-right: 20px; 
                }
              
            }

            [class^="mlicon-"]{
                font-size: 20px;
                position: absolute;
                margin: 10px;
            }
        }
    
        .ml-blueprint-select-menu{
            position: relative;
            height: auto;
            z-index: 2;
            max-height: 50vh;
            overflow-x: hidden;
            padding:5px;
            margin-bottom: 0;
            li{
                height: 30px;
            }
            > li:not(.selected):hover{
                background-color: rgba(167,182,194,.3);
                cursor: pointer;
                text-decoration: none;
                color:inherit;
                z-index: 22;
                position: relative;
            }
        }

        .ml-blueprint-select-menu-item{
            display: flex;
            min-width: 100px;
            border-radius: 4px;
            padding: 5px 7px;
            text-decoration: none;
            line-height: 20px;
            color: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
        }    

        .ml-blueprint-item-name {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .ml-blueprint-select-menu-item.selected{
            color:@white;
        }

        .ml-blueprint-select-menu-item.ml-blueprint-select-disabled:active.ml-blueprint-select-menu-item:hover{
            background-color: inherit;
        }

        .selected{
            background-color: @default;
            cursor: pointer;
            color: @white;
            border-radius: 4px
        }

        .ml-blueprint-select-default .selected{
            background-color: @default;
        }
        .ml-blueprint-select-primary .selected{
            background-color: @primary;
        }
        .ml-blueprint-select-danger .selected{
            background-color: @danger;
        }
        .ml-blueprint-select-warning .selected{
            background-color: @warning;
        }
        .ml-blueprint-select-success .selected{
            background-color: @success;
        }

    }
    .ml-blueprint-select-modal{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 40;
        overflow: hidden;
        padding: 0 20px 20px;
        pointer-events: none;    

        .ml-blueprint-item-toast{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            position: relative;
            margin: 20px 0 0;
            border-radius: 3px;
            -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2); 
            box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2); 
            background-color: #fff;
            min-width: 300px;
            max-width: 500px;
            pointer-events: all;
            justify-content: space-between;
            
                span{
                    padding: 10px;
                }
    
                div:hover{
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    background: rgba(167, 182, 194, 0.3);
                    text-decoration: none;
                    color: #182026;
                }
            
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    cursor: pointer!important;
                }
        }
    }


// }