@import '_variables.less';

.namespace-blueprint-overflowList {

  .ml-blueprint-default-contanier {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    padding: 0px 0;
  }
  .ml-blueprint-inner-div{
    //display: flex;
    //justify-content: flex-start;
    ////width: 100%;
    ////margin-right: auto;
    //border: solid 1px darkgrey;


    margin: 0;
    min-width: 54px;
    max-width: 100%;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
    box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
    background-color: #fff;
    padding: 10px;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .2s cubic-bezier(.4,1,.75,.9);
    transition: -webkit-transform .2s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .2s cubic-bezier(.4,1,.75,.9);
    transition: transform .2s cubic-bezier(.4,1,.75,.9),box-shadow .2s cubic-bezier(.4,1,.75,.9);
    transition: transform .2s cubic-bezier(.4,1,.75,.9),box-shadow .2s cubic-bezier(.4,1,.75,.9),-webkit-transform .2s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .2s cubic-bezier(.4,1,.75,.9);
    -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
    box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);

  }
  li.ml-blueprint-link:last-child:after{
    content: none;
  }
  .ml-blueprint-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 0;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin:0;

    li{
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &:after {
        content: "\e9e8";
        position: relative;
        right: 0;
        font-size: 9px;
        font-family: 'MapLarge' !important;
      }

      span,a{
        color: #5c7080;
        display: inline-block;
        font-size: 13px;
        position: relative;
        padding: 0px 5px 0 5px;

        &[class^="mlicon-"], [class*=" mlicon-"]{
          margin-right: 2px;
          border: none;
          border-radius: 3px;
          background: #ced9e0;
          padding: 1px 5px;
          vertical-align: text-bottom;
        }

      }

      a{
        cursor: pointer!important;
      }

    }
    .ml-blueprint-popover, ml-blueprint-{
      position: absolute;
      top: calc(100% + 5px);
      box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2), 0 8px 24px rgba(16, 22, 26, 0.2);
      transform: scale(1);
      display: block;
      z-index: 20;
      border-radius: 3px;
      padding: 4px;
      width: 150px;
      background-color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: .4s;
      transform-origin: top left;
      transform: scale(0.8);

      li{
        font-size: 13px;
        padding: 3px;
        cursor:not-allowed;

        a{
          text-decoration: none;
        }

        &:after{
          content:none
        }

        &:hover{
          background-color: rgba(167,182,194,.3);
          text-decoration: none;
        }


      }


      &:after{
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 2px;
        content: "";
        margin: 5px;
        width: 15px;
        height: 15px;
        box-shadow: -1px -1px 5px -1px rgba(16, 22, 26, 0.2);
        top: -11px;
        z-index: -1;
        left: 5px;
        background-color: #fff;
      }

      &.end-position{
        left: auto;
        right: calc(0px + 10px);
        top: calc(100% + 5px);

        &:after{
          right: 0;
          left: unset;
        }
      }
    }
    .ml-blueprint-active-popover{
      visibility:visible;
      opacity: 1;
      transition: .4s;
      transform: scale(1);




    }


  }


  li.ml-blueprint-link.last:after{
    content: none;
  }

.ml-blueprint-icon{
    padding: 1px ;
    background-color: darkgrey;
    border-radius: 2px;
  }
  .ml-blueprint-link {
    cursor: default!important;
    display: inline-block;
    > span,a{
      padding: 6px;
      display: flex;
      flex-wrap: nowrap;
    }

    > a{
      text-decoration: none;
    }

    > a:hover{
      color: @primary;
    }

    &:first-child{
      margin: 0;
    }
  }


  .ml-blueprint-cont{
    background-color: white;
    width: 50%;
    height: 50px;
  }
 .ml-hover:hover{
   background-color: rgba(167,182,194,.3)!important;
 }

  li.ml-hover{
    cursor: pointer!important;
  }

  #icon{
    cursor: pointer!important;
  }


}