@import '_variables.less';
//.namespace-blueprint-overley{

  .ml-blueprint-button{

    background-color:white;
    border:solid 1px grey;

  }
  body {font-family: Arial,
  Helvetica,
  sans-serif;

  }
.mod{
  animation-name: animatetop;
  animation-duration: 2s;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
  /* The Modal (background) */
.ml-blueprint-modal-body-paragraf{
  display: flex;

  > *{
    width: 100%;
  }

}

  /* Modal Content */
  .ml-blueprint-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10vh auto;
    padding: 0;
    border: 1px solid #888;
    width: calc(50% - 200px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    //-webkit-animation-duration: 0.4s;
    //animation-name: animatetop;
    //animation-duration: 0.4s

    //margin-top:250px;

    p{
      font-size: 14px;
    }

    h2{
      font-size: 22px;
      color:black;
    }


  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */




  .ml-blueprint-modal-header {
    padding: 2px 16px;
    background-color: white;
    color: white;
    border-bottom:white;
    border-radius: 6px;
  }

  .ml-blueprint-modal-body {
    padding: 2px 16px;

  }

  .ml-blueprint-modal-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top:white;
    padding: 2px 16px;
    background-color: white;
    color: white;
  }
  .ml-blueprint-modal-btn{
    border: solid 0.5px darkgrey;
    background-color: #f5f8fa;
    background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
    color: #182026;
    -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
    box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
  }
  .ml-blueprint-close-btn{
    background-color:@danger;
    float: left;
    border: solid 0.5px darkgrey;
    -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4), inset 0 -1px 0 rgba(16,22,26,.2);
    box-shadow: inset 0 0 0 1px rgba(16,22,26,.4), inset 0 -1px 0 rgba(16,22,26,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.1)),to(hsla(0,0%,100%,0)));
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
    color: @white;
  }
  #ml-blueprint-myBtn{
    border: 1px solid white;
    background-color: inherit;
    box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
  }





//}