@import '_variables.less';

.namespace-blueprint-panelStack{

    .ml-blueprint-panel-stack{
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
        box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
        width: 300px;
        height: 240px;
        position: relative;
        overflow: hidden;
    }
    .ml-blueprint-panel-stack-view{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: -1px;
        border-right: 1px solid rgba(16,22,26,.15);
        background-color: #fff;
        overflow-y: auto;

    }
    .animOriginal{
        transform: translateX(100%);
        opacity: 0;
    }
    .parent-anime > div{
        transition: .8s;
        opacity: 1;
    }
    // .ml-blueprint-panel-stack-view.animate {
    //     transform: translateX(-100%);
    //     opacity: 0;
    // }
    .cloneAnim{
        opacity: 1;
        transform: translateX(0%);
    }
    // .translateAnim{
    //     transition-delay: .8s;
    //     transition: .8s;
    //     opacity: 1;
    //     transform: translateX(0%);
    // }
    .ml-blueprint-panel-stack-contents{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 10px;
    }

    .ml-blueprint-panel-stack-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: 0 1px rgba(16,22,26,.15);
        box-shadow: 0 1px rgba(16,22,26,.15);
        height: 30px;

        span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }
    }
    

    .ml-blueprint-heading{
        color: #182026;
        font-weight: 600;
        margin: 0 0 10px;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        margin: 0 5px;
        font-size: 14px;
    }

    .ml-blueprint-button{
        border-radius: 3px;
        padding: 5px 10px;
        vertical-align: middle;
        font-size: 14px;
        min-width: 30px;
        min-height: 30px;
        color: #fff;
    }

    .ml-blueprint-panel-stack-headering-back{
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        
        .ml-blueprint-button{
            color:black;
            box-shadow: none;
            background: none;
            min-width: 24px;
            min-height: 24px;
            padding: 0 7px;
            margin-left: 5px;
            padding-left: 0;
            white-space: nowrap;
            display: flex;
            align-items: center;
        }
    }

    .ml-blueprint-panel-stack-headering-back .ml-blueprint-button:hover{
        -webkit-box-shadow: none;
        box-shadow: none;
        background: rgba(167,182,194,.3);
        text-decoration: none;
        color: #182026;
    }

    [class^="mlicon-"], [class*=" mlicon-"]{
        padding: 0 2px;
        color: #5c7080;
        font-size: 10px;
    }

    .ml-blueprint-button.ml-blueprint-button-intent-default{
        background-color: @default;
    }

}