.namespace-blueprint-popover{
    .ml-blueprint-popover-container{
        padding: 50px;
        text-align: center;
        
        .ml-blueprint-popover-div{
            width: 350px;
            -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
            box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
            -webkit-transform: scale(1);
            transform: scale(1);
            display: none;
            z-index: 20;
            border-radius: 3px;
            .ml-blueprint-popover-div-content{
                max-width: 350px;
                padding: 20px;
                position: relative;
                border-radius: 3px;
                background: #fff;
                color: inherit;
            }
            .ml-blueprint-popover-div-arrow{
                position: absolute;
                display:  none;
                width: 30px;
                height: 30px;
                &:before{
                    -webkit-box-shadow: 1px 1px 6px rgba(16,22,26,.2);
                    box-shadow: 1px 1px 6px rgba(16,22,26,.2);
                    margin: 5px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    border-radius: 2px;
                    content: "";
                }
                svg{
                    .ml-blueprint-popover-div-arrow-border{
                        fill: #10161a;
                        fill-opacity: .1;
                    }
                    .ml-blueprint-popover-div-arrow-fill{
                        fill: #fff;
                    }
                }
            }
        }
    
        .ml-blueprint-popover-div[x-placement^="bottom"]{
            .ml-blueprint-popover-div-arrow{
                top: -11px;
                svg{
                    transform: rotate(90deg);
                }
            }
        }
        
        .ml-blueprint-popover-div[x-placement^="left"]{
            .ml-blueprint-popover-div-arrow{
                right: -11px;
                svg{
                    transform: rotate(180deg);
                }
            }
        }
        
        .ml-blueprint-popover-div[x-placement^="right"]{
            .ml-blueprint-popover-div-arrow{
                left: -11px;
                svg{
                    transform: rotate(0deg);
                }
            }
        }
        
        .ml-blueprint-popover-div[x-placement^="top"]{
            .ml-blueprint-popover-div-arrow{
                bottom: -11px;
                svg{
                    transform: rotate(-90deg);
                }
            }
        }   
    }
}