@import '_variables.less';

.namespace-blueprint-progress { 
    

    .progressLine{
        display: block;
        position: relative;
        border-radius: 40px;
        background: rgba(92,112,128,.2);
        width: 100%;
        height: 8px;
        overflow: hidden;
    }
    .progressBackground.progress-none{
        background-color: rgba(92,112,128,.8);
    }
    .progressBackground.progress-success{
        background-color: #0f9960;
    }
    .progressBackground.progress-primary{
        background-color: #137cbd;
    }
    .progressBackground.progress-warning{
        background-color: #d9822b;
    }
    .progressBackground.progress-danger{
        background-color: #db3737;
    }
    .progressBackground{
        position:absolute;
        background-color: #137cbd;
        border-radius: 40px;
        background: linear-gradient(-45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0);
        background-color: rgba(92,112,128,.8);
        background-size: 30px 30px;
        width: 100%;
        height: 100%;
        -webkit-transition: .2s cubic-bezier(.4,1,.75,.9);
        transition: width .2s cubic-bezier(.4,1,.75,.9);
        animation: linearProgress .3s linear infinite reverse;
    }
    @keyframes linearProgress {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 30px 0;
        }
    }
}