.namespace-blueprint-radio-button{
    .ml-blueprint-radio-button-label {
        display: block;
        position: relative;
        padding-left: 21px;
        cursor: pointer;
        font-size: 12px;
        user-select: none;
    }
    
    .ml-blueprint-radio-button-label .ml-blueprint-radio-button {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    .ml-blueprint-radio-button-fancy {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #eee;
        border-radius: 50%;
    }
    
    .ml-blueprint-radio-button-label:hover .ml-blueprint-radio-button ~ .ml-blueprint-radio-button-fancy {
        background-color: #ccc;
    }
    
    .ml-blueprint-radio-button-label .ml-blueprint-radio-button:checked ~ .ml-blueprint-radio-button-fancy {
        background-color: #2196F3;
    }

    .ml-blueprint-radio-button-label .ml-blueprint-radio-button:disabled ~ .ml-blueprint-radio-button-fancy {
        background-color: #ccc;
        cursor: not-allowed;
    }
    
    .ml-blueprint-radio-button-fancy:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .ml-blueprint-radio-button-label .ml-blueprint-radio-button:checked ~ .ml-blueprint-radio-button-fancy:after {
        display: block;
    }
    
    .ml-blueprint-radio-button-label .ml-blueprint-radio-button-fancy:after {
        top: 5px;
        left: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .ml-blueprint-radio-button-large.ml-blueprint-radio-button-label .ml-blueprint-radio-button-fancy:after{
        top: 6px;
        left: 6px;
        width: 13px;
        height: 13px;
    }

    .ml-blueprint-radio-button-large.ml-blueprint-radio-button-label .ml-blueprint-radio-button-fancy{
        height: 25px;
        width: 25px;
    }

    .ml-blueprint-radio-button-large.ml-blueprint-radio-button-label{
        padding-left: 35px;
    }

    .ml-blueprint-radio-button-large .ml-blueprint-radio-button-span{
        font-size: 22px;
    }

    .ml-blueprint-radio-button-left-align{
        font-weight: bold;
        margin-right: 6px;
        color: #6c6c6c;
        vertical-align: sub;
    }

    .ml-blueprint-radio-button-left-align.ml-blueprint-radio-button-label-large{
        font-size: 22px;
    }
}
