@import '_variables.less';


.namespace-blueprint-select{

    .button{
        max-width: max-content;
    }
    .ml-blueprint-select-button, .ml-blueprint-omnibar-button{
        min-height: 35px;
        display: flex;
        align-items: center;
        max-width: 100%;
        min-width: 120px;
        font-size: 16px;
        border:0;
        background-color: @white;
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        > .option{
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 25px;
            line-height: 25px;
            text-align: left;
        }
    }
  
    .ml-blueprint-select-button:active, .ml-blueprint-omnibar-button:active{
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        background-color: #d8e1e8;
        background-image: none;
    }
    .ml-blueprint-select-button.ml-blueprint-select-button-disabled {
        pointer-events: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: rgba(206,217,224,.5);
        background-image: none;
        cursor: not-allowed !important;
        color: rgba(92,112,128,.5);
        i{
            color: rgba(92,112,128,.5);
        }
    }
    // .ml-blueprint-select-menu-item:active .ml-blueprint-select-menu-item:hover{
    //     background-color: rgba(115,134,148,.3);
    // }
    
    .ml-blueprint-select-button i{
        padding: 0 5px;
        font-size: 12px;
    }
  

}
.triangleBottom {
    .ml-blueprint-select-minimal{
        &:after{
            transform: rotate(-135deg) !important;
            bottom: -15px;
            top: auto !important;
            left: var(--triangelAfter);
        }
    }
}

.ml-blueprint-select-portal{
    position: absolute;
    z-index: 100000;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    display: inline-block;
    width: fit-content;
    .ml-blueprint-item-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ml-blueprint-item-left{
        justify-content: flex-start;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        display: inline-flex;
        width: 100%;
    }
    
    .ml-blueprint-select-input-group{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        
        i{
            pointer-events: none;
        }
    }
    .ml-blueprint-select-menu-item-selected{
        background: @primary;
        color:@white
    }

    .ml-blueprint-select-menu-item.selected{
        color:@white;
    }

    .ml-blueprint-select-menu-item{
        display: flex;
        min-width: 100px;
        border-radius: 4px;
        padding: 5px 7px;
        text-decoration: none;
        line-height: 20px;
        color: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }

    .ml-blueprint-select-menu-item:active{
        background: rgba(115,134,148,.3);
        color: inherit;
    }

    .ml-blueprint-popover-content{
        width: 280px;
        position: relative;
        top: 0;
        padding:5px;   
        background: @white;
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2)
    }
    .ml-blueprint-select-minimal{
        margin-top: 15px;
        &:after{
            position: absolute;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-radius: 2px;
            content: "";
            margin: 5px;
            width: 20px;
            height: 20px;
            box-shadow: -1px -1px 5px -1px rgba(16, 22, 26, 0.2);
            top: -13px;
            z-index: -1;
            left: var(--triangelAfter);

            background-color: #fff;
            z-index: 0;
        }
    }

    .ml-blueprint-select-disabled{
        pointer-events: none;
        height: 30px;
        width: 150px;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding-left: 14px;
        color:rgba(92,112,128,.5)!important;
        outline: none;
        background-color: inherit!important;
        cursor: not-allowed !important;
    }
    
    
    .ml-blueprint-select-menu{
        padding-left: 0;
        position: relative;
        height: auto;
        z-index: 2;
        max-height: 280px;
        overflow-x: hidden;
        margin-bottom: 0;
        li{
            height: 30px;
        }
        > li:not(.selected):hover{
            background-color: rgba(167,182,194,.3);
            cursor: pointer;
            text-decoration: none;
            color:inherit;
            z-index: 22;
            position: relative;
        }
    }
    
    
    .ml-blueprint-select-menu-item.ml-blueprint-select-disabled:active.ml-blueprint-select-menu-item:hover{
        background-color: inherit;
    }

    .ml-blueprint-select-input-group .ml-blueprint-select-filter{
        width: 100%;
        padding-right: 30px;
        font-size: 12px;
        border-radius: 3px;
        height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        line-height: 30px;
        color: #182026;
        font-size: 14px;
        font-weight: 400;
    }

    .mlui-state-focus{
        background: transparent;
    }
    .ml-blueprint-item-right{
       float: right;
    }
    .listLength{
        min-width: 200px;
    }

    .ml-blueprint-disabled-item{
        background-color: inherit;
    }
    
    .ml-blueprint-select-filter:not(:first-child){
        padding-left:30px;
    }

    .ml-blueprint-select-input-group [class^="mlicon-"]{
        position: absolute;
        margin: 9px;
    }

    .ml-blueprint-select-overlay{
        display: none;
    }
    .showList{
        display: block;
    }
    .selected{
        background-color: @default;
        cursor: pointer;
        color: @white;
        border-radius: 4px
    }
    
    .ml-blueprint-select-focus-default:focus{
        box-shadow: @input-box-shadow
    }
    .ml-blueprint-select-focus-primary:focus{
        box-shadow: @primary-box-shadow-focus
    }
    .ml-blueprint-select-focus-danger:focus{
        box-shadow: @danger-box-shadow-focus
    }
    .ml-blueprint-select-focus-warning:focus{
        box-shadow: @warning-box-shadow-focus
    }
    .ml-blueprint-select-focus-success:focus{
        box-shadow: @success-box-shadow-focus
    }
    
    .ml-blueprint-select-default .selected{
        background-color: @default;
    }
    .ml-blueprint-select-primary .selected{
        background-color: @primary;
    }
    .ml-blueprint-select-danger .selected{
        background-color: @danger;
    }
    .ml-blueprint-select-warning .selected{
        background-color: @warning;
    }
    .ml-blueprint-select-success .selected{
        background-color: @success;
    }
}

.ml-blueprint-select-disabled{
    pointer-events: none;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 14px;
    color:rgba(92,112,128,.5)!important;
    outline: none;
    background-color: inherit!important;
    cursor: not-allowed !important;
}

.ml-blueprint-select-menu-item.ml-blueprint-select-disabled:active.ml-blueprint-select-menu-item:hover{
    background-color: inherit;
}
