.namespace-blueprint-skeleton{
    .ml-blueprint-card{
        border-radius: 3px;
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
        box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
        background-color: #fff;
        padding: 20px;
        -webkit-transition: -webkit-transform .2s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .2s cubic-bezier(.4,1,.75,.9);
        transition: -webkit-transform .2s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .2s cubic-bezier(.4,1,.75,.9);
        transition: transform .2s cubic-bezier(.4,1,.75,.9),box-shadow .2s cubic-bezier(.4,1,.75,.9);
        transition: transform .2s cubic-bezier(.4,1,.75,.9),box-shadow .2s cubic-bezier(.4,1,.75,.9),-webkit-transform .2s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .2s cubic-bezier(.4,1,.75,.9);
    }

    .ml-blueprint-heading{
        color: #182026;
        font-weight: 600;
        margin: 0 0 10px;
        padding: 0;
        line-height: 19px;
        font-size: 16px;
    }

    .ml-blueprint-button{
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        padding: 5px 10px;
        vertical-align: middle;
        text-align: left;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        max-width: max-content;
        background-color: #f5f8fa;
        background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
        background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
        color: #182026;
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        display: -webkit-inline-box;
    }

    .ml-blueprint-button:hover{
        background-clip: padding-box;
        background-color: #ebf1f5;
    }

    .ml-blueprint-button:active{
        -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
        background-color: #d8e1e8;
        background-image: none;
    }

    .ml-blueprint-card p {
        font-size: 13px;
    }

    .ml-blueprint-skeleton{
        border-color: rgba(206,217,224,.2)!important;
        border-radius: 2px;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        background: rgba(206,217,224,.2);
        background-clip: padding-box!important;
        cursor: default;
        color: transparent!important;
        -webkit-animation: 1s linear infinite alternate skeleton-glow;
        animation: 1s linear infinite alternate skeleton-glow;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
   