@import '_variables.less';
/*
    These styles are re-used in all Slider Components
*/

.namespace-blueprint-slider{
    padding: 2px 12px !important;
    margin: 10px 0 0;
    min-height: 41px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    .ml-blueprint-slider-wrapper{
        position: relative;
    }

    .ml-blueprint-slider-track{
        margin-top: 25px;
        height: 5px;
        background: @default;
        cursor: pointer;
    }

    .ml-blueprint-slider-track-bar{
        position: absolute;
        height: 5px;
        left: 0%;
        top: 0px;
        right: 0%;
        background: @primary;
        cursor: pointer;
    }

    .ml-blueprint-slider-handle{
        position: absolute;
        background: @white;
        border: 8px solid @white;
        border-top-width: 8px;
        border-bottom-width: 6px;
        box-shadow: 0 0 2px 2px @shadowtransparent;
        -webkit-box-shadow: 0 0 2px 2px @shadowtransparent;
        -moz-box-shadow: 0 0 2px 2px @shadowtransparent;
        top: -9px;
        cursor: grab;
    }

    .ml-blueprint-slider-handle-label{
        position: absolute;
        padding: 5px 5px;   
        margin-top: 10px;
        transform: translateX(-27%);
        background: @black;
        color: @white;
        left: -1px;
        cursor: grab;
        border-radius: 4px;
        min-width: 28.7px;
        text-align: center;
    }

    .ml-blueprint-slider-label-wrapper{
        position: absolute;
        color: @black;
        width: 100%;        
    }

    .ml-blueprint-slider-label{
        position: relative;
    }

    .ml-blueprint-slider.mlui-slider-horizontal{
        height: 5px;
        cursor: pointer;
    }

    .ml-blueprint-slider.mlui-slider-vertical{
        height: 200px;
    }
    
    .ui-slider-disabled.mlui-state-disabled,.ui-slider-disabled.mlui-state-disabled:hover{
        cursor: not-allowed !important;
        .mlui-slider-handle{
            cursor: not-allowed !important;
        }
    }

    .ml-blueprint-slider.mlui-slider-horizontal,.ml-blueprint-slider.mlui-slider-vertical{
        border-radius: 5px;

        .mlui-slider-range{
            background: @primary;
            border-radius: 5px;
        }

        .mlui-slider-handle{
            position: absolute;
            border-radius: 2px !important;
            background: @white;
            border: 8px solid @white;
            border-top-width: 8px;
            border-bottom-width: 6px;
            box-shadow: 0 0 2px 2px @shadowtransparent;
            -webkit-box-shadow: 0 0 2px 2px @shadowtransparent;
            -moz-box-shadow: 0 0 2px 2px @shadowtransparent;
            top: -5px;
            z-index: 2;
            cursor: grab;
        }


        .ml-blueprint-slider-handle-label{
            padding: 2px 5px;   
            margin-top: 10px;
            transform: translateX(-27%);
            background: #394b59;
            color: @white;
            cursor: grab;
            left: -6px;
            border-radius: 4px;
        }

        .ml-blueprint-slider-handle-label.ml-blueprint-slider-handle-label-vertical{
            left: 0;
            transform: translateX(32%);
            top: -22px;
        }

        .mlui-slider-handle:active, .ml-blueprint-slider-handle-label:active{
            cursor: grabbing;
        }

        .ml-blueprint-slider-label-vertical{
            position: absolute;
            left: 12px;
            color: @black;
            cursor: pointer;
        }
        
        .ml-blueprint-slider-label-horizontal{
            position: absolute;
            top: 14px;
            color: @black;
        }

        // Multi Slider styles

        .ml-blueprint-slider-custom-range{
            position: absolute;
            z-index: 1;
            font-size: .7em;
            display: block;
            border: 0;
            height: 100%;
        }

        .ml-blueprint-slider-custom-range.ml-blueprint-slider-custom-range-primary{
            background: @primary;
        }

        .ml-blueprint-slider-custom-range.ml-blueprint-slider-custom-range-success{
            background: @success;
        }
        
        .ml-blueprint-slider-custom-range.ml-blueprint-slider-custom-range-warning{
            background: @warning;
        }
        
        .ml-blueprint-slider-custom-range.ml-blueprint-slider-custom-range-danger{
            background: @danger;
        }
        
        .ml-blueprint-slider-custom-range.ml-blueprint-slider-custom-range-default{
            background: @default;
        }
    
    }
}