
@import '_variables.less';

.namespace-blueprint-spinner { 
    
    .spiner-success .spinner-head {
        stroke: @success !important;
    }
    .spiner-danger .spinner-head {
        stroke: @danger !important;
    }
    .spiner-primary .spinner-head {
        stroke: @primary !important;
    }
    .spiner-warning .spinner-head {
        stroke: @warning !important;
    }
    .spiner-default .spinner-head {
        stroke: @default !important;
    }
    .circleContent{
        .spinner-track {
            stroke: rgba(92,112,128,.2);
        }
        
        .spinner-head {
            transition: stroke-dashoffset .2s cubic-bezier(.4,1,.75,.9);
            stroke: rgba(92,112,128,.8);
            stroke-linecap: round;
            transform-origin: center;
        }
        svg{
            animation:spinner-animation .5s linear infinite;
            path {
                fill-opacity: 0;
            }
        }
        .stopAnimation{
            animation: none;
        }
    }
    @keyframes spinner-animation{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }
    }
    
}
