@import '_variables.less';

.namespace-blueprint-suggest{
    .ml-blueprint-suggest-inputGroup{
        display: flex;
        position: relative;
        flex-direction: row;
        max-width: max-content;
        
    }
   
    

    .ml-blueprint-suggest-inputGroup [class^="ml-blueprint-suggest-input-"]{
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
    }


    .ml-blueprint-suggest-input-primary:focus{
        box-shadow: @primary-box-shadow-focus
    }
    .ml-blueprint-suggest-input-danger:focus{
        box-shadow: @danger-box-shadow-focus
    }
    .ml-blueprint-suggest-input-warning:focus{
        box-shadow: @warning-box-shadow-focus
    }
    .ml-blueprint-suggest-input-success:focus{
        box-shadow: @success-box-shadow-focus
    }
    .ml-blueprint-suggest-input-default:focus{
        box-shadow: @input-box-shadow
    }
        
    
}

.triangleBottom {
    .ml-blueprint-suggest-minimal{
        &:after{
            transform: rotate(-135deg) !important;
            bottom: -15px;
            top: auto !important;
            left: var(--triangelAfter);
        }
    }
}
.ml-blueprint-suggest-overlay{
    display: none;
}
.showList{
    display: block;
}
.ml-blueprint-suggest-input{
    position: relative;
    width: 200px;
    padding-right:10px;
    cursor: text !important;
}
.ml-blueprint-suggest-input:hover{
    border:1px solid #e5e5e5;
}
.ml-blueprint-suggest-portal{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 222;
}

.ml-blueprint-popover-content{
    position: relative;
    top: 0;
    padding:5px;   
    background: @white;
    box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2)
}


.ml-blueprint-suggest-menu-item{
    display: block;
    border-radius: 4px;
    padding: 5px 7px;
    text-decoration: none;
    line-height: 20px;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    min-width: 200px;
}

.ml-blueprint-suggest-menu-item:active{
    background: rgba(115,134,148,.3);
    color: inherit;
}
.ml-blueprint-suggest-menu > li:not(.selected) .ml-blueprint-suggest-menu-item:hover{
    background-color: rgba(167,182,194,.3);
    cursor: pointer;
    text-decoration: none;
    color:inherit;
}
.ml-blueprint-suggest-menu{
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    padding: 0 ;
    margin:0;
    z-index: 2;
}
.ml-blueprint-suggest-disabled{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 14px;
    outline: none;
    pointer-events: none;
    cursor: not-allowed !important;
    color:rgba(92,112,128,.5)!important;
    background-color: inherit!important;
}
.ml-blueprint-select-disabled:active.ml-blueprint-suggest-menu-item:hover{
    background-color: inherit;
}

.ml-blueprint-suggest-disabled:active.ml-blueprint-suggest-menu-item:hover{
    background-color: inherit;
}

.ml-blueprint-item-name{
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    max-width: 100%;
}

.ml-blueprint-item-right{
   float: right;
}

.ml-blueprint-select-menu-item.selected{
    background-color: @primary;
    color: @white;
    border-radius: 4px
}


.ml-blueprint-popover-arrow {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    display: inline-flex;
    position: absolute;
    margin-top: 3px;
    background: rgba(16,22,26,0.6);
}   


.selected{
    color: @white;
    border-radius: 4px;
    background-color: @default;
}

.ml-blueprint-panel-stack-push.ml-blueprint-panel-stack-exit{
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

.ml-blueprint-panel-stack-exit{
    -webkit-transition-property: opacity, webkit-transofrm;
    transition-property: opacity, webkit-transofrm;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transition;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

.ml-blueprint-suggest-minimal{

    margin-top: 15px;

    &:after{
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 2px;
        content: "";
        margin: 5px;
        width: 20px;
        height: 20px;
        box-shadow: -1px -1px 5px -1px rgba(16, 22, 26, 0.2);
        top: -13px;
        z-index: -1;
        left: var(--triangelAfter);
        background-color: #fff;
        z-index: 0;
    }
}
.ml-blueprint-select-primary li.selected{
    background-color: @primary;
}
.ml-blueprint-select-danger li.selected{
    background-color: @danger;
}
.ml-blueprint-select-warning li.selected{
    background-color: @warning;
}
.ml-blueprint-select-success li.selected{
    background-color: @success;
}
.ml-blueprint-select-default li.selected{
    background-color: @default;
}
