@import '_variables.less';

.namespace-blueprint-switch {

    // label {
    //     display: none;
    // }

    .ml-blueprint-switch {display:none;}

    .ml-blueprint-switch-label {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 20px;


        .ml-blueprint-switch-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .1s;
            border-radius: 34px;
        }
          
        .ml-blueprint-switch-slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.2), 0 1px 1px rgba(16,22,26,.2);
            box-shadow: 0 0 0 1px rgba(16,22,26,.2), 0 1px 1px rgba(16,22,26,.2);
            background-color: @white;
            -webkit-transition: .1s;
            transition: .1s;
            border-radius: 50%;
        }

        .ml-blueprint-switch:checked + .ml-blueprint-switch-slider {
            background-color: #137cbd;
        }
          
        .ml-blueprint-switch:focus + .ml-blueprint-switch-slider {
            box-shadow: 0 0 1px #137cbd;
            border-radius: 34px;
        }
        
        .ml-blueprint-switch:checked + .ml-blueprint-switch-slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);        
        }        
    }
        .ml-blueprint-text {
            position: relative;
            margin-left: 10px;
            top: -5px
        }
}