@import '_variables.less';

.namespace-blueprint-tagComp {

    .ml-blueprint-tagComp, .ml-blueprint-tagComp-multi {
        padding: 4px 7px 4px 7px;
        color: @white;
        border-radius: 4px;
        background-color: #5c7080;
        display: inline-block;
        margin: 2px;
    }

    .ml-blueprint-tagComp.ml-blueprint-tagComp-large {
        padding: 8px 10px 6px 10px;
        font-size: 15px;

        .ml-blueprint-remove,.ml-blueprint-multiSelect-remove {
            font-size: 10px;
        }
    }

    .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
        color: #fff;
    }


    .ml-blueprint-tagComp-minimal, .ml-blueprint-tagComp-multi-minimal {
        background-color: rgba(138,155,168,.2);
        color: #182026;

        .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
            color: #444b4f;
        }
    }

    .ml-blueprint-tagComp-interactive:hover {
        background-color: rgba(92,112,128,.85);
        cursor: pointer;
    }

    .ml-blueprint-tagComp-interactive-minimal:hover {
        background-color: rgba(92,112,128,.3);
        cursor: pointer;
    }

    .ml-blueprint-tagComp-round {
        border-radius: 30px;
    }

    .ml-blueprint-tagComp-primary, .ml-blueprint-tagComp-primary.ml-blueprint-tagComp-interactive:hover,
    .ml-blueprint-tagComp-multi-primary {
        background-color: @primary;
    }

    .ml-blueprint-tagComp-primary,.ml-blueprint-tagComp-multi-primary  {
        .ml-blueprint-remove,.ml-blueprint-multiSelect-remove {
            color: #7badcd;
        }
        .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
            color: #fff;
        }
    }

    .ml-blueprint-tagComp-primary.ml-blueprint-tagComp-minimal,
    .ml-blueprint-tagComp-multi-primary.ml-blueprint-tagComp-multi-minimal {
        .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
            color: #106ba3;
        }
    }
    .ml-blueprint-tagComp-success, .ml-blueprint-tagComp-success.ml-blueprint-tagComp-interactive:hover,
    .ml-blueprint-tagComp-multi-success {
        background-color: @success;
    }



    .ml-blueprint-tagComp-success,.ml-blueprint-tagComp-multi-success  {
        .ml-blueprint-remove ,.ml-blueprint-multiSelect-remove{
            color: #8fcdb1;
        }
        .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
            color: #fff;
        }
    }

    .ml-blueprint-tagComp-success.ml-blueprint-tagComp-minimal,
    .ml-blueprint-tagComp-multi-success.ml-blueprint-tagComp-multi-minimal {
        .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
            color: #0d7f51;
        }
    }

    .ml-blueprint-tagComp-warning, .ml-blueprint-tagComp-warning.ml-blueprint-tagComp-interactive:hover ,
    .ml-blueprint-tagComp-multi-warning, {
        background-color: @warning;
    }
    
    .ml-blueprint-tagComp-warning, .ml-blueprint-tagComp-multi-warning {
        .ml-blueprint-remove ,.ml-blueprint-multiSelect-remove{
            color: #dcb088;
        }
        .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
            color: #fff;
        }
    }

    .ml-blueprint-tagComp-warning.ml-blueprint-tagComp-minimal,
    .ml-blueprint-tagComp-multi-warning.ml-blueprint-tagComp-multi-minimal {
        .ml-blueprint-remove:hover,.ml-blueprint-multiSelect-remove:hover {
            color: #bf7325;
        }
    }

    .ml-blueprint-tagComp-danger, .ml-blueprint-tagComp-danger.ml-blueprint-tagComp-interactive:hover,
    .ml-blueprint-tagComp-multi-danger, {
        background-color: @danger;
    }

    .ml-blueprint-tagComp-danger, .ml-blueprint-tagComp-multi-danger  {
        .ml-blueprint-remove ,.ml-blueprint-multiSelect-remove{
            color: #e3999a;
        }
        .ml-blueprint-remove:hover ,.ml-blueprint-multiSelect-remove:hover{
            color: #fff;
        }
    }

    .ml-blueprint-tagComp-danger.ml-blueprint-tagComp-minimal,
    .ml-blueprint-tagComp-multi-danger.ml-blueprint-tagComp-multi-minimal {
        .ml-blueprint-remove:hover ,.ml-blueprint-multiSelect-remove:hover {
            color: #c23030;
        }
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-primary,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary .ml-blueprint-left-icon,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary .ml-blueprint-right-icon{
        background-color: #deecf6;
        color: @primarydark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary.ml-blueprint-tagComp-interactive-minimal:hover {
        background-color: rgba(19,124,189,.25);

        .ml-blueprint-left-icon, .ml-blueprint-right-icon{
            background-color: unset;
        }
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary .ml-blueprint-left-icon:hover,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary .ml-blueprint-right-icon:hover {
        color: @primarydark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-primary .ml-blueprint-multiSelect-remove [class^="mlicon-"] {
        color: #7badcd;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-primary .ml-blueprint-remove [class^="mlicon-"]:hover ,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-primary .ml-blueprint-multiSelect-remove [class^="mlicon-"]:hover {
        color: @primarydark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-success,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success .ml-blueprint-left-icon,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success .ml-blueprint-right-icon{
        background-color: #def1e8;
        color: @successdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success.ml-blueprint-tagComp-interactive-minimal:hover {
        background-color: rgba(15,153,96,.25);

        .ml-blueprint-left-icon, .ml-blueprint-right-icon{
            background-color: unset;
        }
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success .ml-blueprint-left-icon:hover,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success .ml-blueprint-right-icon:hover {
        color: @successdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-success .ml-blueprint-multiSelect-remove [class^="mlicon-"] {
        color: #7bb99e;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-success .ml-blueprint-remove [class^="mlicon-"]:hover,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-success .ml-blueprint-multiSelect-remove [class^="mlicon-"]:hover {
        color: @successdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-warning,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning .ml-blueprint-left-icon,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning .ml-blueprint-right-icon{
        background-color: #f9ede1;
        color: @warningdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning.ml-blueprint-tagComp-interactive-minimal:hover {
        background-color: rgba(217,130,43,.25);

        .ml-blueprint-left-icon, .ml-blueprint-right-icon{
            background-color: unset;
        }
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning .ml-blueprint-left-icon:hover,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning .ml-blueprint-right-icon:hover {
        color: @warningdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-warning .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #e0b894;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-warning .ml-blueprint-remove [class^="mlicon-"]:hover,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-warning .ml-blueprint-multiSelect-remove [class^="mlicon-"]:hover {
        color: @warningdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-danger,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger .ml-blueprint-left-icon,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger .ml-blueprint-right-icon{
        background-color: #fae2e3;
        color: @dangerdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger.ml-blueprint-tagComp-interactive-minimal:hover {
        background-color: rgba(219,55,55,.25);
        
        .ml-blueprint-left-icon, .ml-blueprint-right-icon{
            background-color: unset;
        }
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger .ml-blueprint-left-icon:hover,
    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger .ml-blueprint-right-icon:hover {
        color: @dangerdark;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-danger .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #de8a8d;
    }

    .ml-blueprint-tagComp-minimal.ml-blueprint-tagComp-danger .ml-blueprint-remove [class^="mlicon-"]:hover ,
    .ml-blueprint-tagComp-multi-minimal.ml-blueprint-tagComp-multi-danger .ml-blueprint-multiSelect-remove [class^="mlicon-"]:hover {
        color: @dangerdark;
    }

    .ml-blueprint-tagComp-primary.ml-blueprint-tagComp-interactive:hover,
    .ml-blueprint-tagComp-success.ml-blueprint-tagComp-interactive:hover,
    .ml-blueprint-tagComp-warning.ml-blueprint-tagComp-interactive:hover,
    .ml-blueprint-tagComp-danger.ml-blueprint-tagComp-interactive:hover {
        opacity: 0.9;
        cursor: pointer;
    }

    .ml-blueprint-tagComp-primary .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-primary .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #7badcd;
    }

    .ml-blueprint-tagComp-success .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-success .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #7bb99e;
    }

    .ml-blueprint-tagComp-warning .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-warning .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #e0b894;
    }

    .ml-blueprint-tagComp-danger .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-danger .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #de8a8d;
    }

    .ml-blueprint-remove ,.ml-blueprint-multiSelect-remove{
        font-weight: bold;
        color: #aab5be;
        position: relative;
        cursor: pointer;
        background: none;
        border: none;
        left: 4px;
        font-size: 9px;
        vertical-align: middle;
    }

    .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #aab5be;
        vertical-align: middle;
    }

    .ml-blueprint-remove [class^="mlicon-"]:hover ,      
    .ml-blueprint-multiSelect-remove [class^="mlicon-"]:hover {        
        color: #e6eaee;
    }

    .ml-blueprint-tagComp-minimal .ml-blueprint-remove [class^="mlicon-"],
    .ml-blueprint-tagComp-multi-minimal .ml-blueprint-multiSelect-remove [class^="mlicon-"]{
        color: #83898c;
    }
    .ml-blueprint-tagComp-minimal .ml-blueprint-remove [class^="mlicon-"]:hover ,
    .ml-blueprint-tagComp-multi-minimal .ml-blueprint-multiSelect-remove [class^="mlicon-"]:hover {
        color: #182026;
    }

    .ml-blueprint-right-icon:hover, .ml-blueprint-left-icon:hover{
        color: unset;
    }    

    .ml-blueprint-right-icon  {
        padding-left: 5px;        
    }

    .ml-blueprint-left-icon {
        padding-right: 5px;
    }

    .ml-blueprint-right-icon, .ml-blueprint-left-icon{
        color: @white;
        vertical-align: middle;
    }

    .ml-blueprint-tagComp-minimal .ml-blueprint-left-icon,
    .ml-blueprint-tagComp-minimal .ml-blueprint-right-icon {
        color: @black;
    }

    .ml-blueprint-tagComp-minimal .ml-blueprint-left-icon:hover,
    .ml-blueprint-tagComp-minimal .ml-blueprint-right-icon:hover {
        color: @black;
    }

    .ml-blueprint-tagComp-active.ml-blueprint-tagComp-primary,
    .ml-blueprint-tagComp-multi-active.ml-blueprint-tagComp-primary{
        outline: 2px auto @primarytransparent;
    }
    .ml-blueprint-tagComp-active.ml-blueprint-tagComp-success,
    .ml-blueprint-tagComp-multi-active.ml-blueprint-tagComp-success{
        outline: 2px auto @successtransparent;
    }
    .ml-blueprint-tagComp-active.ml-blueprint-tagComp-warning,
    .ml-blueprint-tagComp-multi-active.ml-blueprint-tagComp-warning{
        outline: 2px auto @warningtransparent;
    }
    .ml-blueprint-tagComp-active.ml-blueprint-tagComp-danger,
    .ml-blueprint-tagComp-multi-active.ml-blueprint-tagComp-danger{
        outline: 2px auto @dangertransparent;
    }

}