@import '_variables.less';
.namespace-blueprint-tagInput.namespace-blueprint-tagComp {

    .ml-blueprint-tagComp {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 7px;
        height: 27px;
    }

    .ml-blueprint-tagComp.ml-blueprint-tagComp-large {
        height: auto;
    }
    
    .ml-blueprint-tagInput {
        display: flex;
        max-width: max-content;
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        cursor: text;
        border-radius: 2px;
        padding: 1px 3px;
        
        .ml-blueprint-enterTags {
            display: flex;
            cursor: text;
            align-items: center;

            flex-wrap: wrap;

            .ml-blueprint-enterTagInput {
                width: 120px;
                cursor: text!important;
                font-size: 15px;
                border: 0px;
                flex: 1 1 auto;
            }
        }       

        .ml-blueprint-removeTag,.ml-blueprint-multiSelect-removeTag {
            background: none;
            border: 0px;
            width: 25px;
            height: 25px;
            font-size: 11px;
            display: flex;
            align-items: center;
            justify-content: center;   
            margin-top: 4px;
        }        

        .ml-blueprint-removeTag:hover,.ml-blueprint-multiSelect-removeTag:hover {
            -webkit-box-shadow: none;
            box-shadow: none;
            background: rgba(167,182,194,.3);
            text-decoration: none;
            color: #182026;       
        }

        .ml-blueprint-resetTag {
            background: none;
            border: none
        }

        .ml-blueprint-icon {
            font-size: 15px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .ml-blueprint-icon:hover {
            color: unset;
        }         
    }

    .ml-blueprint-tagInputBoxShadow, .ml-blueprint-tagInputBoxShadow-primary {
        -webkit-box-shadow: @primary-box-shadow-focus;
        box-shadow: @primary-box-shadow-focus;
    }
    .ml-blueprint-tagInputBoxShadow-danger {
        -webkit-box-shadow: @danger-box-shadow-focus;
        box-shadow: @danger-box-shadow-focus;
    }
    .ml-blueprint-tagInputBoxShadow-success {
        -webkit-box-shadow: @success-box-shadow-focus;
        box-shadow: @success-box-shadow-focus;
    }
    .ml-blueprint-tagInputBoxShadow-warning {
        -webkit-box-shadow: @warning-box-shadow-focus;
        box-shadow: @warning-box-shadow-focus;
    }
    .ml-blueprint-tagInputBoxShadow-default {
        -webkit-box-shadow: @input-box-shadow;
        box-shadow: @input-box-shadow;
    }

    .ml-blueprint-tagInput-large{
        min-height: 40px;

        .ml-blueprint-icon {
            font-size: 20px;
        }

        .ml-blueprint-enterTagInput {
            width: 110px;
        }

        .ml-blueprint-removeTag,.ml-blueprint-multiSelect-removeTag {
            margin-left: 7px;
            margin-top: 5px;
            padding-top: 9px;
            width: 30px;
            height: 30px;
            margin-right: 1px;
            font-size: 13px;        
        }
    }

    .ml-blueprint-tagInput-fill {
        max-width: none;
        width: 100%;

        .ml-blueprint-enterTags {
            width: 100%;
        }

        .ml-blueprint-enterTagInput {
            flex: 1 1 auto;
        }    
    }

    .ml-blueprint-tagInput-disabled {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: rgb(212, 221, 228);
        cursor: not-allowed!important;
        color: rgba(92,112,128,.5);
        resize: none;

        .ml-blueprint-icon:hover {
            color: #737679;
        }

        .ml-blueprint-enterTags {
            .ml-blueprint-enterTagInput {
                cursor: not-allowed!important;
            }            
        }

        .ml-blueprint-removeTag:hover,.ml-blueprint-multiSelect-removeTag:hover {
            background: unset;
            color: unset;

            i{
                color: #737679;
            }
        }
    }
}