@import '_variables.less';

.namespace-blueprint-tabs{
    .ml-blueprint-navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        justify-content: space-between;
        z-index: 10;
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 0 0 rgba(16,22,26,0), 0 1px 1px rgba(16,22,26,.2);
        background-color: #fff;
        // width: 100%;
        height: 50px;
        padding: 0 15px;
        margin: 20px;
    }
    .ml-blueprint-navbar-tab{
        font-size: 16px;
        line-height: 50px;
        cursor: pointer!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        color: #182026;
    }
    .ml-blueprint-navbar-tab:not(:last-child){
        margin-right: 20px;
    }

    .ml-blueprint-navbar-tab[aria-selected=true]{
        color: @primary;
        border-radius: 0;
        -webkit-box-shadow: inset 0 -3px 0 @primary;
        box-shadow: inset 0 -3px 0 @primary;
    }

    .ml-blueprint-navbar-heading {
        font-size: 16px;
        line-height: 50px;
    }

    .ml-blueprint-navbar-tabs-list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        position: relative;
        margin: 0;
        border: none;
        padding: 0;
        list-style: none;
    }

    .ml-blueprint-tabs{
        display: flex;
        flex-direction: row;
        margin: 20px;
        margin-top: 0;
    }

    .ml-blueprint-tab-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        position: relative;
        margin: 0;
        border: none;
        padding: 0;
        list-style: none;
    }

    .ml-blueprint-tab{
        font-size: 14px;
        line-height: 30px;
        cursor: pointer!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        color: #182026;
    }

    .ml-blueprint-tab{
        margin-right: 20px;
    }

    .ml-blueprint-tab[aria-disabled=true] {
        pointer-events: none;
        color: rgba(92,112,128,.5);
    }

    .ml-blueprint-tab[aria-selected=true]{
        color: @primary;
        border-radius: 0;
        -webkit-box-shadow: inset 0 -3px 0 @primary;
        box-shadow: inset 0 -3px 0 @primary;
    }

    .ml-blueprint-tabs .ml-blueprint-tab-input{
        display: flex;
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 100%;
        justify-content: flex-end;
    }
    .ml-dash-content .ml-blueprint-input{
        position: relative;
        width: 100%;
        padding-right: 10px;
        outline: none;
        border: none;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0), inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
        background: #fff;
        height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        line-height: 30px;
        color: #182026;
        font-size: 14px;
        font-weight: 400;
    
        &:focus{
            box-shadow: @primary-box-shadow-focus;
        }
    }

    .ml-blueprint-tab-main-content{
        padding: 20px;
        padding-top: 0;
        
        h3{
            line-height: 25px;
            font-size: 22px;
            color: #182026;
            font-weight: 600;
            margin: 0 0 10px;
            padding: 0;
        }

        p{
            line-height: 1.5;
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    .ml-blueprint-tab-content{
        display: none;
    }

    .ml-blueprint-tab-main-content .ml-blueprint-tab-content input{
        width: unset;
    }
    .activeTab{
        display: block;
    }

    .ml-bluerint-content{
        display: flex;
        flex-direction: column;
    }


    .ml-blueprint-content-vertical{
        
        &.ml-bluerint-content{
            flex-direction: row;

            .ml-blueprint-tab-list{
                flex-direction: column;
                align-items: unset;
            }
            
            .ml-blueprint-tabs{
                flex-direction: column;
                margin: 0;
                margin-left: 20px;
            }

            .ml-blueprint-tab{
                border-radius: 3px;
                padding: 0 10px;
            }
            
            .ml-blueprint-tab[aria-selected=true]{
                background-color: rgba(19,124,189,.2);
                color: @primary;
                -webkit-box-shadow: none;
                box-shadow: none;
                margin: 0;
            }
            
            .ml-blueprint-tab:last-child{
                margin-bottom: 20px;
            }
        }

        .ml-blueprint-animate{
            .ml-blueprint-indicator-wrapper{
                height: unset;
                border-radius: 3px;
                background-color: rgba(19,124,189,.2)
            }

            .ml-blueprint-navbar-tab[aria-selected=true], .ml-blueprint-tab[aria-selected=true]{ 
                background-color: unset,
            }
        }
    
    }

    .ml-blueprint-content-active-panel{
        .ml-blueprint-tab-content{
            display: unset;
        }
    }

    .ml-blueprint-indicator-wrapper{
        position: absolute;
        -webkit-transform: translateX(0),translateY(0);
        transform: translateX(0),translateY(0);
        transition: cubic-bezier(.4,1,.75,.9) .4s;
        pointer-events: none;
        height: 3px;
        width: 0px;
        background-color: @primary;
    }

    .ml-blueprint-animate{
        .ml-blueprint-navbar-tab[aria-selected=true], .ml-blueprint-tab[aria-selected=true]{ 
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

   

}