@import '_variables.less';

.namespace-blueprint-textInput {    

    .ml-blueprint-textInput {
        -webkit-box-shadow: @input-box-shadow;
        box-shadow: @input-box-shadow;
        max-width: max-content;
        display: flex;
        padding:  1px;
        min-width: 200px;
        height: 35px;
        border-radius: 3px;

        .ml-blueprint-input {
            border: none;
            font-size: 15px;
            margin-top: 3px;
            cursor: text!important;
            padding-top: 5px;
            padding-left: 6px;
            padding-right: 6px;
            background: transparent;
        }

        .ml-blueprint-textinput-left-icon {
            padding: 7px;
        }
        
        .ml-blueprint-textinput-left-icon, .ml-blueprint-textinput-right-icon {
            font-size: 15px;
            position: relative;
            top: 1px;
        }
        .ml-blueprint-textinput-left-icon:hover, .ml-blueprint-textinput-right-icon:hover {
            color: #737679;
        }

        .ml-blueprint-button, .ml-blueprint-button-unlock {
            border: none;
            background: none;
            margin: 2px;
            width: 30px;
            height: 30px;

            .ml-blueprint-textinput-right-icon.ml-icon-lock,
            .ml-blueprint-textinput-right-icon.ml-icon-unlock {
                font-size: 21px;
            }

            .ml-blueprint-textinput-right-icon.ml-icon-unlock{
                left: 2px;
            }
        }
        .ml-blueprint-button:hover, .ml-blueprint-button-unlock:hover {
            background: rgba(19,124,189,.15);            
        } 
        .ml-blueprint-button:active, .ml-blueprint-button-unlock:hover {
            background: rgba(19,124,189,.3);
        }        
    }
    .ml-blueprint-textInput-disabled, .ml-blueprint-textInput-disabled .ml-blueprint-input{
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #e7ebf0;
        cursor: not-allowed!important;
        color: rgba(92,112,128,.5);
        resize: none;
        

        .ml-blueprint-button, .ml-blueprint-button-unlock {
            cursor: not-allowed!important;            
        }        
    }
    .ml-blueprint-textInput.ml-blueprint-textInput-disabled {
        .ml-blueprint-textinput-left-icon, .ml-blueprint-textinput-right-icon {
            color: unset;
        }
        .ml-blueprint-button:hover, .ml-blueprint-button:active, .ml-blueprint-button-unlock:hover, .ml-blueprint-button-unlock {
            background: none;
            
            .ml-blueprint-textinput-left-icon, .ml-blueprint-textinput-right-icon {
                color: unset;
            }
        }

    }

    .ml-blueprint-textInput.ml-blueprint-textInput-disabled {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ml-blueprint-large-textInput {
        height: 42px;

        .ml-blueprint-textinput-left-icon {
            padding: 11px;
        }
        .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon {
            font-size: 16px;
        }

        .ml-blueprint-input {
            width: 300px;
            margin-top: 4px;
            font-size: 16px;           
        }

        .ml-blueprint-button, .ml-blueprint-button-unlock {
            margin: 4px;
            width: 32px;
            height: 32px;
        }
    }
    .ml-Blueprint-TextInput-Fill {
        max-width: none;
        width: 100%;

        .ml-blueprint-input {
            width: 100%;
        }       
    }

    .ml-blueprint-textInput-round {
        border-radius: 30px;

        .ml-blueprint-input {
            border-radius: 30px;
        }

        .ml-blueprint-button, .ml-blueprint-button-unlock {
            border-radius: 30px;

            .ml-blueprint-textinput-right-icon {
                left: 1px;
            }
        }
    }

    .ml-blueprint-textInputBoxShadow {
        -webkit-box-shadow: @primary-box-shadow-focus;
        box-shadow: @primary-box-shadow-focus;
    }

    .ml-blueprint-textInput.ml-blueprint-textInput-primary{
        -webkit-box-shadow: @primary-box-shadow;
        box-shadow: @primary-box-shadow;
        
        .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon,
        .ml-blueprint-button:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-button-unlock:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon{
            color: @primary;
        }      
    }
    .ml-blueprint-textInput-primary.ml-blueprint-textInputBoxShadow{
        -webkit-box-shadow: @primary-box-shadow-focus;
        box-shadow: @primary-box-shadow-focus;
    }

    .ml-blueprint-textInput.ml-blueprint-textInput-danger{
        -webkit-box-shadow: @danger-box-shadow;
        box-shadow: @danger-box-shadow;
    
        .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon,
        .ml-blueprint-button:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-button-unlock:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon{
            color: @danger;
        }

        .ml-blueprint-button:hover,
        .ml-blueprint-button-unlock:hover {
            background: rgba(219,55,55,.15);            
        } 
        .ml-blueprint-button:active,
        .ml-blueprint-button-unlock:active {
            background: rgba(219,55,55,.3);
        } 
    }

    .ml-blueprint-textInput-danger.ml-blueprint-textInputBoxShadow{
        -webkit-box-shadow: @danger-box-shadow-focus;
        box-shadow: @danger-box-shadow-focus;
    }

    .ml-blueprint-textInput.ml-blueprint-textInput-warning{
        -webkit-box-shadow: @warning-box-shadow;
        box-shadow: @warning-box-shadow;
    
        .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon,
        .ml-blueprint-button:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-button-unlock:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon{
            color: @warning;
        }
        .ml-blueprint-button:hover,
        .ml-blueprint-button-unlock:hover {
            background: rgba(217,130,43,.15);            
        } 
        .ml-blueprint-button:active,
        .ml-blueprint-button-unlock:active {
            background: rgba(217,130,43,.3);
        } 
    }
    .ml-blueprint-textInput-warning.ml-blueprint-textInputBoxShadow{
        -webkit-box-shadow: @warning-box-shadow-focus;
        box-shadow: @warning-box-shadow-focus;
    }

    .ml-blueprint-textInput.ml-blueprint-textInput-success{
        -webkit-box-shadow: @success-box-shadow;
        box-shadow: @success-box-shadow;
    
        .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon,
        .ml-blueprint-button:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-button-unlock:active .ml-blueprint-textinput-left-icon,
        .ml-blueprint-textinput-right-icon{
            color: @success;
        }
        .ml-blueprint-button:hover,
        .ml-blueprint-button-unlock:hover {
            background: rgba(15,153,96,.15);            
        } 
        .ml-blueprint-button:active,
        .ml-blueprint-button-unlock:active {
            background: rgba(15,153,96,.3);
        } 
   
    }
    .ml-blueprint-textInput-success.ml-blueprint-textInputBoxShadow{
        -webkit-box-shadow: @success-box-shadow-focus;
        box-shadow: @success-box-shadow-focus;
    }

    .ml-blueprint-textInput-password.ml-blueprint-textInput {
        .ml-blueprint-textinput-right-icon {
            color: #bf7326;
        }
    }
}