
@import '_variables.less';

.namespace-blueprint-TextArea {
    
    .ml-blueprint-textArea{
        font-size: 15px;
        overflow: hidden;
    }
    .ml-blueprint-textArea:focus {
        -webkit-box-shadow: @primary-box-shadow-focus;
        box-shadow: @primary-box-shadow-focus;
    }
    .ml-blueprint-textArea.ml-blueprint-disabled{
        -webkit-box-shadow: none;
        box-shadow: none;
        background: rgba(206,217,224,.5);
        cursor: not-allowed;
        color: rgba(92,112,128,.5);
        resize: none;
    }
    .ml-blueprint-textArea-fill {
        width: 100%
    }
    .ml-blueprint-textArea-large {
        height: 45px;
        font-size: 16px;
    }
    .ml-blueprint-textArea-primary {
        -webkit-box-shadow: @primary-box-shadow;
        box-shadow: @primary-box-shadow;
    }
    
    .ml-blueprint-textArea-danger {
        -webkit-box-shadow: @danger-box-shadow;
        box-shadow: @danger-box-shadow;
    }
    .ml-blueprint-textArea-danger:focus {
        -webkit-box-shadow: @danger-box-shadow-focus;
        box-shadow: @danger-box-shadow-focus;
    }
    .ml-blueprint-textArea-warning {
        -webkit-box-shadow: @warning-box-shadow;
        box-shadow: @warning-box-shadow;
    }
    .ml-blueprint-textArea-warning:focus {
        -webkit-box-shadow: @warning-box-shadow-focus;
        box-shadow: @warning-box-shadow-focus;
    }
    .ml-blueprint-textArea-success {
        -webkit-box-shadow: @success-box-shadow;
        box-shadow: @success-box-shadow;
    }
    .ml-blueprint-textArea-success:focus {
        -webkit-box-shadow: @success-box-shadow-focus;
        box-shadow: @success-box-shadow-focus;
    }
}