@import '_variables.less';

.namespace-blueprint-TimePicker {

    .ml-dash-content {
        .ml-blueprint-timePicker {
            max-width: max-content;

            .ml-blueprint-input-row {
                display: inline-flex;
                align-items: center;
                border-radius: 3px;
                -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
                box-shadow: inset 0 0 0 1px rgba(16,22,26,.15), inset 0 1px 1px rgba(16,22,26,.2);
                background: #fff;
                height: 30px;
                padding: 0 1px;
                vertical-align: middle;
            
                input {
                    outline: 0;
                    border: 0;
                    border-radius: 3px;
                    -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0);
                    box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0);
                    background: transparent;
                    width: 33px;
                    height: 28px;
                    padding: 0;
                    text-align: center;
                    color: #182026;
                    -webkit-transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    transition: box-shadow .1s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    font-size: 13px;
                    cursor: text!important;
                }
            
                input:focus {
                    -webkit-box-shadow: @primary-box-shadow-focus;
                    box-shadow: @primary-box-shadow-focus;
                }
            
                span {
                    display: inline-block;
                    width: 11px;
                    text-align: center;
                    color: #5c7080;
                    font-size: 16px;
                }
            }
            
            .ml-blueprint-Am-Pm {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                letter-spacing: normal;
                margin-left: 5px;

                select {                    
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    border: none;
                    cursor: pointer;
                    padding: 5px 10px;
                    vertical-align: middle;
                    text-align: left;
                    font-size: 14px;
                    -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
                    box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
                    background-color: #f5f8fa;
                    background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
                    background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
                    color: #182026;
                    border-radius: 3px;
                    width: 100%;
                    height: 30px;
                    padding: 4px 25px 0 10px;
                    -moz-appearance: none;
                    -webkit-appearance: none;                    
                }

                select:active {
                    -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
                    box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 1px 2px rgba(16,22,26,.2);
                    background-color: #d8e1e8;
                    background-image: none;

                    option{
                        -webkit-box-flex: 0;
                        flex-grow: 0;
                        flex-shrink: 0;
                        background-color: #d8e1e8;
                    }            
                }
                
                i{
                    font-size: 9px;
                    position: absolute;
                    right: 7px;
                    cursor: pointer;
                }
                
                i:hover {
                    color: #737679
                }

                .ml-blueprint-arrowUp {
                    transform: scaleY(-1);
                    top: 6px
                }
                .ml-blueprint-arrowBottom {                
                    top: 16px
                }
            }

            .ml-blueprint-arrowUp-row, .ml-blueprint-arrowDown-row {
                span:nth-child(1) {
                    margin-left: 1px;
                }
                
                span:not(:nth-child(1)) {
                    margin-left: 11px;
                }
                
                span {
                    width: 33px;
                    height: 28px;
                    display: inline-flex;

                    i {
                        display: inline-flex;
                        margin: 0 auto;
                        align-items: center;
                        cursor: pointer;
                    }
                    
                }
            }
        }
        .ml-blueprint-timePicker.ml-blueprint-disabled {
            .ml-blueprint-input-row {
                -webkit-box-shadow: none;
                box-shadow: none;
                background: rgba(206,217,224,.5);
                cursor: not-allowed;
                color: rgba(92,112,128,.5);
                resize: none;
    
                input {
                    outline: 0;
                    border: 0;
                    border-radius: 3px;
                    -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0);
                    box-shadow: 0 0 0 0 rgba(19,124,189,0), 0 0 0 0 rgba(19,124,189,0);
                    background: transparent;
                    width: 33px;
                    height: 28px;
                    padding: 0;
                    text-align: center;
                    color: #182026;
                    -webkit-transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    transition: box-shadow .1s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
                    cursor: not-allowed!important;
                    color: rgba(92,112,128,.5)!important
                }
    
                span {
                    cursor: not-allowed!important;                    
                }                  
            }
            
            .ml-blueprint-arrowUp-row, .ml-blueprint-arrowDown-row {
                 
                span {    
                    i:hover {
                        color: #737679
                    }
                }
            }

            .ml-blueprint-Am-Pm {
                select {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    background-color: rgba(206,217,224,.5);
                    cursor: not-allowed!important;
                    color: rgba(92,112,128,.5);
                    background-image: none;
                }

                i {
                    cursor: not-allowed;
                }
            }
        }
    }
}
