@import '_variables.less';

.namespace-blueprint-timeZonePicker{
    padding-bottom: 25px !important;
    .ml-blueprint-selectButton{
        span{
            font-size:9px;
            margin-left: 10px;
        }
    }

.ml-blueprint-dataZonePicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    position: absolute;
    max-width: max-content;
    
    .ml-blueprint-selectButton{
        background-color: #ebf1f5;
        background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
        background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
        color: #5c7080;
        box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
        border: none;
        border-radius: 3px;
        cursor: pointer;
        padding: 5px 10px;
        text-align: left;
        max-width: max-content;
        margin-right: auto;
        font-size: 14px;
        &:focus {
            outline: none!important;
            outline-offset: 2px;
        }
        &:disabled{
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: rgba(206, 217, 224, 0.5);
            background-image: none;
            cursor: not-allowed !important;
            color: rgba(92, 112, 128, 0.5);
        }
    }
}
}
   
.ml-blueprint-AllSelects {
    width: 280px;
    position: fixed;
    top: 100%;
    left: 0;
    padding: 5px;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2), 0 8px 24px rgba(16, 22, 26, 0.2);
    border-radius: 4px;
    margin-top: 25px;
    background-color: #fff;
    z-index: 23;
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
    transform: scale(0.5);
    &:after{
        position: absolute;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 2px;
        content: "";
        margin: 5px;
        width: 20px;
        height: 20px;
        box-shadow: -1px -1px 5px -1px rgba(16, 22, 26, 0.2);
        top: -13px;
        z-index: -1;
        left: var(--triangelAfter);

        background-color: #fff;
    }
    .ml-blueprint-listUL{
        height: auto;
        max-height: 300px;
        overflow-x: hidden;
        margin-bottom: 0;
        padding: 0;
        .currentTime{
            background-color: @primary;
            a span{
                color: #fff !important;
                i{
                    color: #fff;
                    margin-right: 5px;
                }
            }
        }
        >li{
            padding-right: 5px;
            &:not(.currentTime):hover{
                background-color: rgba(167,182,194,.3);
            }
            >a{
                padding: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                word-break: break-word;
                
                font-size: 13px;
                width: 100%;
                >span:first-child{
                    color: #182026;
                }
                >span{
                    color: #5c7080;
                }
            }
        }
        .noResult {
            text-align: left;
            color: #ccc;
            padding: 5px;
            &:hover{
                background-color: transparent !important;
                cursor: not-allowed!important;
            }
        }
    }
    .ml-blueprint-listUL::-webkit-scrollbar {
        width: 7px;
    }
    
    .ml-blueprint-listUL::-webkit-scrollbar-thumb {
        background: #bfc3c6;
        border-radius: 5px;
    }
    .ml-blueprint-listUL::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px #bfc3c6;
        border-radius: 5px;
    }

    &.zoneListShow {
        opacity: 1;
        transform-origin: 150px top 0px;
        transform: scale(1);
    }
    
    .searchdata {
        margin-bottom: 7px;
        position: relative;
        > span {
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 18px;
            margin: auto;
            cursor: pointer;
        }
        > input {
            width: 100%;
            padding-left: 28px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

    &.triangleBottom {
        &:after{
            transform: rotate(-135deg) !important;
            bottom: -15px;
            top: auto !important;
            left: var(--triangelAfter);
        }
    }
    
}
