@import '_variables.less';

.modalWrap(@width, @align, @color) {
    color: @color;
    width: @width;
    box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
    display: flex;
    align-items: @align;
    justify-content: space-between;
    opacity: 0;
    position: absolute;
}
.namespace-blueprint-toast{
    .ml-blueprint-buttonsWrap{
        .ml-blueprint-buttonsLine{
            display: flex;
            justify-content:center;
            button.ml-blueprint-toast-default{
                background-color:transparent; 
            }
            button.ml-blueprint-toast-success{
                background-color: @success;
                border: none;
                color: #fff;
            }
            button.ml-blueprint-toast-primary{
                background-color: @primary;
                border: none;
                color: #fff;
            }
            button.ml-blueprint-toast-warning{
                background-color: @warning;
                border: none;
                color: #fff;
            }
            button.ml-blueprint-toast-danger{
                border: none;
                color: #fff;
                background-color: @danger;
            }
            button{
                background-color: transparent;
                margin: 0 5px;
                border: 1px solid #999;
                margin: 0 5px;
                cursor: pointer;
            }
        }
        .ml-blueprint-upluadFile{
            background-color: #fff;
            border: 1px solid #999;
            display: block;
            margin: auto;
        }
    }
}
.ml-blueprint-ModalSection {
    position: fixed;
    width: 450px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 22;
    > div{
        // top: -30px;
        // position: relative;
        transition: 0.4s cubic-bezier(0.16, 0.65, 0.24, 1.21);
        transition-property: margin-top, opacity, visibility;
        border-radius: 4px;
        padding:5px 10px;
        margin: auto;
        & a:focus{
            box-shadow: 0px 0px 3px 0px;
            text-decoration: none;
            outline: none;
        }
    }
    a[class^="mlicon-"], [class*=" mlicon-"]{    
        padding: 10px;
        background-color: transparent;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        &:hover{
            background-color: #e0dddd61;
            text-decoration: none;
        }
    }
    .ml-blueprint-modalProgress{
        background-color: #fff;
        .modalWrap(350px, center, #515151);
        // top: 0;
        a[class^="mlicon-"], [class*=" mlicon-"]{
            color: #515151;
        }
        span[class^="mlicon-"], [class*=" mlicon-"]{
            font-size: 20px;
        }
        .ml-blueprint-uploadProgress {
            width: 80%;
            background-color: #eceaea;
            height: 8px;
            border-radius: 8px;
            position: relative;
            .ml-blueprint-animateProgress{
                position:absolute;
                border-radius: 40px;
                background: linear-gradient(-45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0);
                background-color: @primary;
                background-size: 30px 30px;
                width: 0%;
                height: 100%;
                -webkit-transition: .2s cubic-bezier(.4,1,.75,.9);
                transition: width .2s cubic-bezier(.4,1,.75,.9);
                animation: linearProgressUpload .3s linear infinite reverse;
            }
            
            @keyframes linearProgressUpload {
                0% {
                    background-position: 0 0;
                }
                100% {
                    background-position: 30px 0;
                }
            }
        }
    }
    .ml-blueprint-ModalSuccess {
        background-color: @success;
        .modalWrap(350px, center, #fff);
    }
    .ml-blueprint-ModalSuccessReplaceRed{
        background-color: @danger;
        .modalWrap(350px, center, #fff);
    }
    .ml-blueprint-ModalWarning{
        background-color: @warning;
        .modalWrap(350px, center,#fff);
    }
    .ml-blueprint-ModalWarningReplaceWhite{
        background-color: #fff;
        .modalWrap(350px, center, #515151);
        a{
            color: #515151;
        }
    }
    .ml-blueprint-ModalDanger{
        background-color: @danger;
        .modalWrap(450px, flex-start, #fff);
        
        [class^="mlicon-"], [class*=" mlicon-"]{
            position: relative;
            top: 4px;
        }
        .ml-blueprint-middleUndo{
            align-items: flex-start !important;
        }
        
    }
    .ml-blueprint-ModalPrimary{
        background-color: @primary;
        .modalWrap(350px, center, #fff);
    }
    .ml-blueprint-middleUndo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        font-size:15px;
        align-items: center;
        i, a{
            &:hover{
                text-decoration: none;
            }
            color: #fff;
        }
        .ml-blueprint-undo{
            padding: 5px 7px;
            border-radius: 4px;
            &:hover{
                background-color: #e0dddd61;
                cursor: pointer;
            }
        }
    }
    
    &.ml-blueprint-alignTopCenter{
        top:0;
        bottom:auto;
        align-items: center;
    }
    &.ml-blueprint-alignTopLeft{
        top: 0;
        bottom: auto;
        align-items: flex-start;
        right: auto;
        width: 500px;
        padding: 0 25px;
    }
    &.ml-blueprint-alignTopRight{
        align-items: flex-end;
        top:0;
        bottom:auto;
        width: 500px;
        padding: 0 25px;
        left: auto;
    }
    &.ml-blueprint-alignBottomCenter{
        top:auto;
        bottom:0;
        align-items: center;
        flex-direction: column-reverse;
        padding-bottom: 25px;
    }
    &.ml-blueprint-alignBottomLeft{
        top:auto;
        bottom:0;
        align-items: flex-start;
        flex-direction: column-reverse;
        width: 500px;
        padding: 0 25px 25px 0;
        right: auto;
    }
    &.ml-blueprint-alignBottomRight{
        align-items: flex-end;
        top:auto;
        bottom:0;
        left: auto;
        width: 500px;
        padding: 0 25px 25px 0;
        flex-direction: column-reverse;
    }
    
    [class^="mlicon-"], [class*=" mlicon-"]{
        font-size: 13px;
    }
}

