@import '_variables.less';

.namespace-blueprint-tooltip{
    .ml-blueprint-tooltip-div,.ml-blueprint-tooltip-div.ml-blueprint-tooltip-div-intent-default{
        -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
        box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
        -webkit-transform: scale(1);
        transform: scale(1);
        display: inline-block;
        z-index: 20;
        border-radius: 3px;
        .ml-blueprint-tooltip-arrow{
            position: absolute;
            width: 22px;
            height: 22px;
            top: 22px;
            &:before{
                -webkit-box-shadow: 1px 1px 6px rgba(16,22,26,.2);
                box-shadow: 1px 1px 6px rgba(16,22,26,.2);
                display: block;
                position: absolute;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 2px;
                content: "";
                margin: 4px;
                width: 14px;
                height: 14px;
            }
            svg{
                .ml-blueprint-tooltip-arrow-border{
                    fill: #10161a;
                    fill-opacity: .1;
                }
                .ml-blueprint-tooltip-arrow-fill{
                    fill: #394b59;
                }
            }
        }
        
        .ml-blueprint-tooltip-content{
            padding: 10px 12px;
            background: #394b59;
            color: #f5f8fa;
            position: relative;
            border-radius: 3px;
        }       
    }
    
    .ml-blueprint-tooltip-div[x-placement^="bottom"]{
        .ml-blueprint-tooltip-div-arrow{
            top: 22px;
            svg{
                transform: rotate(90deg);
            }
        }
    }
    
    .ml-blueprint-tooltip-div[x-placement^="left"]{
        .ml-blueprint-tooltip-div-arrow{
            right: 22px;
            svg{
                transform: rotate(180deg);
            }
        }
    }
    
    .ml-blueprint-tooltip-div[x-placement^="right"]{
        .ml-blueprint-tooltip-div-arrow{
            left: 22px;
            svg{
                transform: rotate(0deg);
            }
        }
    }
    
    .ml-blueprint-tooltip-div[x-placement^="top"]{
        .ml-blueprint-tooltip-div-arrow{
            bottom: 22px;
            svg{
                transform: rotate(-90deg);
            }
        }
    }

    .ml-blueprint-tooltip-div.ml-blueprint-tooltip-div-intent-primary{
        .ml-blueprint-tooltip-content{
            background: @primary;
        }
        .ml-blueprint-tooltip-arrow{
            svg{
                .ml-blueprint-tooltip-arrow-fill{
                    fill: @primary;
                }
            }
        }
    }

    .ml-blueprint-tooltip-div.ml-blueprint-tooltip-div-intent-warning{
        .ml-blueprint-tooltip-content{
            background: @warning;
        }
        .ml-blueprint-tooltip-arrow{
            svg{
                .ml-blueprint-tooltip-arrow-fill{
                    fill: @warning;
                }
            }
        }
    }

    .ml-blueprint-tooltip-div.ml-blueprint-tooltip-div-intent-success{
        .ml-blueprint-tooltip-content{
            background: @success;
        }
        .ml-blueprint-tooltip-arrow{
            svg{
                .ml-blueprint-tooltip-arrow-fill{
                    fill: @success;
                }
            }
        }
    }

    .ml-blueprint-tooltip-div.ml-blueprint-tooltip-div-intent-danger{
        .ml-blueprint-tooltip-content{
            background: @danger;
        }
        .ml-blueprint-tooltip-arrow{
            svg{
                .ml-blueprint-tooltip-arrow-fill{
                    fill: @danger;
                }
            }
        }
    }
}