@import '_variables.less';

.namespace-blueprint-tree{
    .ml-bluprint-Tree{
        width: 400px;
        box-shadow: 0px 0px 5px -1px;
        margin: auto;
        .parent-ul{
            margin: 0;
            > li{
                span{
                   padding-left: 30px;
                }
            }
        }
        li > span i:first-child[data-caret="down"]{
            font-size: 11px;
            cursor: pointer;
            transform: rotate(-90deg);
            transform-origin: center;
            position: absolute;
            margin-left: -21px;
            margin-top: 2px;
            display: inline-flex;
            justify-content: center;
            transition: .4s;
            align-items: center;
        }
        .transformCaret{
            transform: rotate(0deg) !important;
        }
        li{
            font-size: 15px;
            transition: .4s;
            position: relative;
            background-color: #fff;
            
            & > span:hover:after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(191,204,214,.4);
                z-index: -1;
            }
            
            .eyeIcon {
                position: absolute;
                right: 10px;
                cursor: pointer;
                top: 7px;
                .eyeToolTip {
                    position: absolute ;
                    right: 30px;
                    padding: 10px ;
                    background-color: #4b4c4d;
                    width: 100px;
                    text-align: center;
                    border-radius: 4px;
                    top: -11px;
                    color: #fff;
                    transform: scale(.8);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    line-height: normal;
                    &:after{
                        position: absolute;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        border-radius: 2px;
                        content: "";
                        margin: 0;
                        width: 12px;
                        height: 12px;
                        top: 0;
                        z-index: 0;
                        right: -4px;
                        background-color: #4b4c4d;
                        bottom: 0;
                        margin: auto;
                    }
                }
                &:hover .eyeToolTip{
                    visibility: visible;
                    transform: scale(1);
                    opacity: 1;
                }
            }
            .genText{
                width: 100%;
                color: #182026;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 0;
                display: inline;
                font-size: 14px;
                padding: 0 30px 0 2px ;
            }
            > span{
                padding: 4px;
                display: flex;
                color: #182026;
                &:hover{
                    position: relative;
                    z-index: 23;
                }
                i{
                    margin: 0;
                    width: 20px;
                    display: inline-block;
                    text-align: center; 
                    position: relative;
                    &:hover{
                        color:#737679
                    } 
                }
            }
            .activeItem{
                background-color:@primary;
                p, i{
                    color: #fff;
                    &:hover{
                        color:#fff
                    }
                }
                &:after{
                    display: none;
                }
            }
        }
        .ml-blueprint-firstLevel{
            list-style-type: none;
            height: 0;
            overflow: hidden;
            i{
                text-align: center;  
            }
        }
    }
}