body { padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a { color: #00B7FF; }

nav.navbar-fixed-top { position: sticky !important; border-bottom: 1px solid #e7e7e7; }

.demo-window { -webkit-box-shadow: inset 0px 0px 4px 1px rgba(168,168,168,0.48); -moz-box-shadow: inset 0px 0px 4px 1px rgba(168,168,168,0.48); box-shadow: inset 0px 0px 4px 1px rgba(168,168,168,0.48); padding: 10px; border-radius: 10px; }

nav .container { display: flex; align-items: center; }

a:hover::after { cursor: pointer; }

.ml-content-blocks { visibility: hidden; }

.mlboxcontainer { height: 100%; }
	.mlboxcontainer iframe { height: 100%; width: 100%; }
