extends ../layouts/_layout.pug
block content
	main.experimenting-with-controls
		h2 Experimenting With Controls
		.row(style="display:flex")
			.col-md-12.demo-window(style="flex:1; margin:5px;")
				#ml-output.mlboxcontainer

